{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
        <h1 class="govuk-heading-xl">Create your GOV.UK One Login or sign in</h1>

        <p class="govuk-body">
          You can use your GOV.UK One Login to access some government services.
        </p>
        <p class="govuk-body">
          In the future, you’ll be able to use it to access all services on GOV.UK.
        </p>

        <p class="govuk-body">You’ll need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an email address</li>
          <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
        </ul>

        <blockquote class="govuk-inset-text">
          You can also
          <a class="govuk-link" href="#">use GOV.UK One Login in Welsh (Cymraeg)</a>.
        </blockquote>

        <div class="govuk-button-group">
          <a role="button" class="govuk-button" href="#">Create your GOV.UK One Login</a>
          <a role="button" class="govuk-button govuk-button--secondary" href="/claimant/one-login-email">Sign in</a>
        </div>

        <p class="govuk-body">
          <a class="govuk-link" href="#">Services you can use with GOV.UK One Login (opens in new tab)</a>
        </p>
      

    </div>
  </div>

      
  

{% endblock %}
