//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-panel--informational {
    background-color: #1d70b8;
    color: #ffffff;
    margin-bottom: 40px;
}

.govuk-panel--informational.modified {
    text-align: left;
    color:#ffffff !important;
}

#blueboxtext {
    color:#ffffff !important;
}

.govuk-grid-column-two-thirds.modified,
.govuk-grid-column-one-third.modified{
    float: right;
}
  
.govuk-panel__title:last-child {
    margin-bottom: 0;
}

@import "mock-email-notification";


.govuk-panel--interruption * {
    color: #ffffff;
}

.blue-banner {
    color: FFFFF;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}