//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-panel--informational {
    background-color: #1d70b8;
    color: #ffffff;
    margin-bottom: 40px;
}

.govuk-panel--informational.modified {
    text-align: left;
    color:#ffffff !important;
}

#blueboxtext {
    color:#ffffff !important;
}

#paragraph-white {
    color: #ffffff
}

//#radio-white .govuk-radios__input[type="radio"] {
   //color: #ffffff;
  //}
  
  //#radio-white .govuk-radios__input[type="radio"]:checked {
    //color: #ffffff !important;
  //}

  #radio-white .govuk-label {
    color: #ffffff;
  }


.govuk-grid-column-two-thirds.modified,
.govuk-grid-column-one-third.modified{
    float: right;
}
  
.govuk-panel__title:last-child {
    margin-bottom: 0;
}

@import "mock-email-notification";


.govuk-panel--interruption * {
    color: #ffffff;
}

