{% set notStartedCount = 0 %}
{% for claim in data.claims %}
  {% if claim.status == "Not started" or claim.status == "Overdue" %}
    {% set notStartedCount = notStartedCount + 1 %}
  {% endif %}
{% endfor %}


{% set inProgressCount = 0 %}
{% for claim in data.claims %}
  {% if claim.status == "In progress" %}
    {% set inProgressCount = inProgressCount + 1 %}
  {% endif %}
{% endfor %}

{% set verifiedCount = 0 %}
{% for claim in data.claims %}
  {% if claim.status == "Verified" %}
    {% set verifiedCount = verifiedCount + 1 %}
  {% endif %}
{% endfor %}

{% set employerCheckCount = 0 %}
{% for claim in data.claims %}
  {% if claim.status == "Check required" %}
    {% set employerCheckCount = employerCheckCount + 1 %}
  {% endif %}
{% endfor %}

{% set overdueNotStartedCount = 0 %}
{% set overdueInProgressCount = 0 %}

{% for claim in data.claims %}
  {% if claim.status == "Overdue" and not claim.lastVisitedStep %}
    {% set overdueNotStartedCount = overdueNotStartedCount + 1 %}
  {% endif %}
  {% if claim.status == "Overdue" and claim.lastVisitedStep %}
    {% set overdueInProgressCount = overdueInProgressCount + 1 %}
  {% endif %}
{% endfor %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="app-home-statuses app-home-statuses--3-up govuk-!-margin-bottom-4">

      {# NOT STARTED #}
      <div class="status-card status-card--deferred">
        <span class="status-card__count">{{ notStartedCount }}</span>
        <span class="status-card__status">
          Not started
          {% if overdueNotStartedCount > 0 %}
            ({{ overdueNotStartedCount }} Overdue)
          {% endif %}
        </span>
      </div>


      {# IN PROGRESS #}   
      <div class="status-card status-card--trn-received">
        <span class="status-card__count">{{ inProgressCount }}</span>
        <span class="status-card__status">
          In progress
          {% if overdueInProgressCount > 0 %}
            ({{ overdueInProgressCount }} Overdue)
          {% endif %}
        </span>
      </div>

      
    </div>
  </div>
</div>