<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="app-home-statuses app-home-statuses--4-up govuk-!-margin-bottom-4">

      {# <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> #}

      {# VERIFIED #} 
      <div class="status-card status-card--draft">
        <span class="status-card__count">{{ dfePendingCount }}</span>
        <span class="status-card__status govuk-link--no-underline">Pending DfE decision</span>
        <span class="govuk-visually-hidden">View these records.</span>
      </div>

      {# DFE APPROVED #}
      <div class="status-card status-card--pending-trn">
        <span class="status-card__count">{{ dfeApprovedCount }}</span>
        <span class="status-card__status govuk-link--no-underline">Approved by DfE</span>
      </div>

      {# STILL DO DO #}
      <div class="status-card status-card--problem">
        <span class="status-card__count">{{ dfeRejectedCount }}</span>
        <span class="status-card__status">Rejected by Dfe</span>
      </div>

      {# STILL DO DO #}
      <div class="status-card status-card--deferred">
        <span class="status-card__count">{{ dfeMoneyPaidOutCount }}£102,000</span>
        <span class="status-card__status">Paid out by Dfe</span>
      </div>

      
    </div>
    {# <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> #}
  </div>
</div>