{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Which academic year did you start teaching in further education?
      </h1>

      <div id="account-number-hint" class="govuk-hint">
        To apply, you must have started your first teaching role at an FE provider in England within the last 5 academic years.
      </div>

      <!--academic-year-in-further-education-->
      <form class="form" action="/teaching-hours-per-week" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="year" name="year" type="radio" value="Before September 2020">
                <label class="govuk-label govuk-radios__label" for="year-before">
                  Before 2020 to 2021
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="year-2" name="year" type="radio" value="September 2020 to August 2021">
                <label class="govuk-label govuk-radios__label" for="year-2020">
                  September 2020 to August 2021
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="year-3" name="academicYearInFurtherEducation" type="radio" value="September 2021 to August 2022">
                <label class="govuk-label govuk-radios__label" for="year-2021">
                  September 2021 to August 2022
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="year-4" name="year" type="radio" value="September 2022 to August 2023">
                <label class="govuk-label govuk-radios__label" for="year-2022">
                  September 2022 to August 2023
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="year-5" name="year" type="radio" value="September 2023 to August 2024">
                <label class="govuk-label govuk-radios__label" for="year-2023">
                  September 2023 to August 2024
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="year-6" name="year" type="radio" value="September 2024 to August 2025">
                <label class="govuk-label govuk-radios__label" for="year-2024">
                  September 2024 to August 2025
                </label>
              </div>


          </fieldset>
         </div> 

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
