{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which engineering and manufacturing courses do you teach?
              </h1>
            </legend>
            <div id="countries-hint" class="govuk-hint">
              Select all that apply
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="engineering" name="engineering" type="checkbox" value="level 3">
                <label class="govuk-label govuk-checkboxes__label" for="engineering">
                 ESFA-funded qualifications at level 3 and below in the <a href="https://www.qualifications.education.gov.uk/Search?Status=Approved&Level=0,1,2,3,4&Sub=13&PageSize=10&Sort=Status">engineering</a> sector subject area
                </label>
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="engineering-2" name="engineering" type="checkbox" value="level 3 below">
                <label class="govuk-label govuk-checkboxes__label" for="engineering-2">
                 ESFA-funded qualifications at level 3 and below in the <a href="https://www.qualifications.education.gov.uk/Search?Status=Approved&Level=0,1,2,3,4&Sub=26&PageSize=10&Sort=Status">manufacturing technologies</a>sector subject area
                </label>
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="engineering-3" name="engineering" type="checkbox" value="esfa">
                  <label class="govuk-label govuk-checkboxes__label" for="engineering-3">
                    ESFA-funded qualifications at level 3 and below in the <a href="https://www.qualifications.education.gov.uk/Search?Status=Approved&Level=0,1,2,3,4&Sub=47&PageSize=10&Sort=Status">transportation operations and maintenance</a> sector subject area
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="engineering-4" name="engineering" type="checkbox" value="t level design">
                    <label class="govuk-label govuk-checkboxes__label" for="engineering-4">
                      T Level in design and development for engineering and manufacturing
                  </div>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="engineering-5" name="engineering" type="checkbox" value="t level main">
                      <label class="govuk-label govuk-checkboxes__label" for="engineering-5">
                        T Level in maintenance, installation and repair for engineering and manufacturing
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="engineering-6" name="engineering" type="checkbox" value="t level eng">
                        <label class="govuk-label govuk-checkboxes__label" for="engineering-6">
                          T Level in engineering, manufacturing, processing and control
                      </div>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="engineering-7" name="engineering" type="checkbox" value="level 2 and 3">
                          <label class="govuk-label govuk-checkboxes__label" for="engineering-7">
                            Level 2 or level 3 apprenticeships in the <a href="https://occupational-maps.instituteforapprenticeships.org/maps/route/engineering-manufacturing">engineering and manufacturing occupational route</a>
                        </div>
              <div class="govuk-checkboxes__divider">or</div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="chemistry-4" name="chemistry" type="checkbox" value="none" data-behaviour="exclusive">
                <label class="govuk-label govuk-checkboxes__label" for="chemistry-4">
                  I do not teach any of these courses
                </label>
              </div>
            </div>
          </fieldset>
        </div>
 

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
