{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Teacher reference number (TRN)
      </h1>

      <form class="form" action="/check-answers" method="post">

        <p>
          A TRN is a 7-digit number that uniquely identifies you in the education sector in England. Most
          people eligible for a TRN will be given one automatically.
         </p>

         <p>
          If you are unsure what your TRN is, you can:
         </p>

         <ol class="govuk-list govuk-list--number"></ul>
          <li>Check your payslip, teacher pension statement or teacher training records.</li>
          <li>Use <a href="https://find-a-lost-trn.education.gov.uk/start"> to check if you have a TRN or find your TRN.</a></li>
         </ol>

         <p>
          If you have not been automatically assigned a TRN, you can <a href="https://www.gov.uk/guidance/teacher-reference-number-trn#request-a-trn-if-youre-an-early-years-professional-or-mentor-for-an-early-career-teacher:~:text=your%20TRN.-,Request%20a%20TRN%20if%20you%E2%80%99re%20an%20early%20years%20professional%20or%20mentor%20for%20an%20early%20career%20teacher,-Most%20people%20eligible"> request one.</a>
         </p>
        
         <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
              What is your TRN? (optional)
            </label>
          </h1>
        
          <input class="govuk-input" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
         </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
