{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}




<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Subject: Your verification form HDJ212EF has been submitted for Jake Smith
    </h2>
  </div>
  <div class="govuk-summary-card__content">

    <div class="govuk-!-padding-bottom-5"></div>
     
    <p>Dear Lewisham College,</p>

    <p>Re: Jake Smith</p>

    <p>
      Thank you for completing a verification form for the person named above. You can view the verified financial incentive payment claim at <a href="verifed-claim">https://fe-claim-lup-further-education-dc844b88474d.herokuapp.com/p/verifed-claim.</a>
    </p>

    <p>
      Your reference number is: HDJ212EF. 

    <p>If you want to <a href="dfe-start">Sign in to DfE login</a> </p>


    <p> 
    We may be in contact again to ask for further information.
    </p>


    <p>Regards,</p>

    <p>Claim additional payments for teaching</p>

    <div class="govuk-!-padding-bottom-5"></div>

  </div>
</div>

{% endblock %}