{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}




<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Subject: You have a new further education financial incentive payment verification request for Kehlani Ashley - reference 123456789
    </h2>
  </div>
  <div class="govuk-summary-card__content">

    <div class="govuk-!-padding-bottom-5"></div>
     
    <p>Dear Westminster College,</p>

    <p>Re: Kehlani Ashley</p>

    <p>On 1 May 2024, the person named above applied for a financial incentive payment for early career further education teachers.</p>

    <h1 class="govuk-heading-s">
      We need you to verify some details so we can process their claim
    </h1>

    <p> <a href="dfe-start-st.html">Access DfE Sign-in</a> to complete their verification by 18 May 2024. </p>

    <p>If you have any questions or require support to complete the form, email:  <a href="">FE-Levellingup.PremiumPayments@education.gov.uk</a> </p>

    <h1 class="govuk-heading-s">
      Further information
    </h1>

    <p>To find out more information about levelling up premium payments for early career further education teachers, visit: <a href="https://www.gov.uk/guidance/levelling-up-premium-payments-for-fe-teachers">https://www.gov.uk/guidance/levelling-up-premium-payments-for-fe-teachers</a> </p>

    <div class="govuk-!-padding-bottom-9"></div>

    <p>Regards,</p>
    <p>Further education levelling up premium payments</p>


    <div class="govuk-!-padding-bottom-5"></div>

  </div>
</div>

{% endblock %}