<!doctype html>
<html class="no-js" lang="">

<head>
	<title>Email</title>
	<meta charset="utf-8">
	<!-- <link href="mock-email-notification.css" rel="stylesheet"> -->
	<link href="/public/stylesheets/application.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
</head>



<body style="margin:0;">

	

	<div class="mock-email-wrapper">
	<div class="mock-email">
	  <table class="mock-email--table">
	    <tbody class="mock-email--table__body">

	      <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			  <p><strong>Outlook Inbox</strong></p>
	        </td>
	      </tr>
		  
		  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
			New email
		  </button>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			<p style="font-size: 16px; color: #1d70b8;">
			<strong>
			  <a href="/p/mock-email" class="secret-link">
				You have a new retention payment verification request for Cedric Diggory - HDJ2123F
			 </a>
				</strong>
			<br>
			<br>
			<span class="mock-email--text-secondary">Dear HR, Re: Cedric Diggory </span>
			</p>
	        </td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			  <p><strong>You have a new retention payment verification request for Penelope Featherington - QRS7792S
			  </strong></a> 
				<br> 
				<br>
				<span class="mock-email--text-secondary">Dear HR, Re: Penelope Featherington </span>
			 </p>
	        </td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			 <p><strong>You have a new retention payment verification request for Samael Croft - REW8826T</strong>
				<br> 
				<br>
				<span class="mock-email--text-secondary">Dear HR, Re: Samael Croft </span>
			 </p>
	        </td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			  <p><strong>You have a new retention payment verification request for Bella Hadid - PLA3517E</strong>
				<br> 
				<br>
				<span class="mock-email--text-secondary">Dear HR, Re: Bella Hadid</span>
			 </p>
	        </td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
				<p><strong>You have a new retention payment verification request for Bridgerton, Eloise - GHA3545R</strong>
				<br> 
				<br>
				<span class="mock-email--text-secondary">Dear HR, Re: Bridgerton, Eloise </span>
			 </p>
	        </td>
	      </tr>

		 
		  

	      
	      
	    </tbody>
	  </table>
	</div>
	</div>
</body>
