<!doctype html>
<html class="no-js" lang="">

<head>
	<title>Email</title>
	<meta charset="utf-8">
	<!-- <link href="mock-email-notification.css" rel="stylesheet"> -->
	<link href="/public/stylesheets/application.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
</head>


<body style="margin:0;">
	<div class="mock-email-wrapper">
	<div class="mock-email">
	  <table class="mock-email--table">
	    <tbody class="mock-email--table__body">

	      <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			  <p><strong>Inbox</strong></p>
	        </td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			
			<p style="font-size: 16px; color: #1d70b8;">
			<strong>
			  <a href="/p/mock-email" class="secret-link">
				You have a new further education financial incentive payment verification request for Jake Smith - 123x45x7 </a>
				</strong>
			<br>
			<br>
			<span class="mock-email--text-secondary">Dear HR, Re: Claimant's name</span>
			</p>
	        </td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			  <p><a href="" class="secert-link"><strong>You have a new further education financial incentive payment verification request for [claimant name] - [ref no]</strong></a> 
				<br> 
				<br>
				<span class="mock-email--text-secondary">Dear HR, Re: Claimant's name</span>
			 </p>
	        </td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			  <p><a href="" class="secert-link"><strong>You have a new further education financial incentive payment verification request for [claimant name] - [ref no]</strong></a> 
				<br> 
				<br>
				<span class="mock-email--text-secondary">Dear HR, Re: Claimant's name</span>
			 </p>
	        </td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			  <p><a href="" class="secert-link"><strong>You have a new further education financial incentive payment verification request for [claimant name] - [ref no]</strong></a> 
				<br> 
				<br>
				<span class="mock-email--text-secondary">Dear HR, Re: Claimant's name</span>
			 </p>
	        </td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			  <p><a href="" class="secert-link"><strong>You have a new further education financial incentive payment verification request for [claimant name] - [ref no]</strong></a> 
				<br> 
				<br>
				<span class="mock-email--text-secondary">Dear HR, Re: Claimant's name</span>
			 </p>
	        </td>
	      </tr>

		 
		  

	      
	      
	    </tbody>
	  </table>
	</div>
	</div>
</body>
