{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
  
  </div>
</div>

<h1 class="govuk-heading-xl">
  Verify additional payments for teaching
</h1>

<h1 class="govuk-heading-m">
  Provider journey screens
 </h1>

 <ol class="govuk-list govuk-list--number"></ul>
  
    <h1 class="govuk-heading-s">
      Start: emails
     </h1>
     <div class="govuk-!-padding-bottom-1"></div>
     
  
  <li><a href=""></a>Email for provider to check</li>

  <div class="govuk-!-padding-bottom-5"></div>

    <h1 class="govuk-heading-s">
      DfE Sign in
     </h1>

     <li><a href=" "> </a>DfE Sign in</li>
     
 
   <div class="govuk-!-padding-bottom-5"></div>

    <h1 class="govuk-heading-s">
      Verifying a claim on webform: editable 
     </h1>

     <li><a href=" "> </a>Review an additional payment claim</li>

   <div class="govuk-!-padding-bottom-5"></div>

   <h1 class="govuk-heading-s">
    Complete
   </h1>

   <li><a href="provider-confirmation">Verification complete</a></li>

   <div class="govuk-!-padding-bottom-5"></div>

   <h1 class="govuk-heading-s">
    End: emails 
   </h1>

   <li><a href=" "> </a>Automated email to provider</li>

   <div class="govuk-!-padding-bottom-5"></div>

   <h1 class="govuk-heading-s">
    Verifying a claim on webform: view only 
   </h1>

   <li><a href=" "> </a>Reviewed additional payment claim</li>

   <div class="govuk-!-padding-bottom-5"></div>

   

   

  


{% endblock %}
