{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

 <h1 class="govuk-heading-xl">
  Verify a further education incentive payment
 </h1>

<h1 class="govuk-heading-m">
  Provider journey screens
 </h1>

 <ol class="govuk-list govuk-list--number"></ul>
  
    <h1 class="govuk-heading-s">
      Start: emails
     </h1>
     <div class="govuk-!-padding-bottom-1"></div>
     
  
  <li><a href="email-check.html">Email for provider to check</a></li>

  <div class="govuk-!-padding-bottom-5"></div>

    <h1 class="govuk-heading-s">
      DfE Sign in
     </h1>

     <li><a href="dfe-sign-in.html">DfE Sign in</a></li>
     
 
   <div class="govuk-!-padding-bottom-5"></div>

    <h1 class="govuk-heading-s">
      Verifying a claim on webform: editable 
     </h1>

     <li><a href="verify-webpage.html">Review an additional payment claim</a></li>

   <div class="govuk-!-padding-bottom-5"></div>

   <h1 class="govuk-heading-s">
    Complete
   </h1>

   <li><a href="provider-confirmation">Verification complete</a></li>

   <div class="govuk-!-padding-bottom-5"></div>

   <h1 class="govuk-heading-s">
    End: emails - TBC 
   </h1>

   <li><a href="email.check.html"> </a>Automated email to provider</li>

   <div class="govuk-!-padding-bottom-5"></div>

   <h1 class="govuk-heading-s">
    Verifying a claim on webform: view only - exploration TBC
   </h1>

   <li><a href=" "> </a>Reviewed additional payment claim</li>

   <div class="govuk-!-padding-bottom-5"></div>

 
  </div>
</div>


{% endblock %}
