{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Verification complete
        </h1>
        <div class="govuk-panel__body">
          Claim reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <div class="govuk-!-padding-bottom-5"></div>
      <p>
        We have sent you a confirmation email.
        
        <br>
        <br>

        You should keep the confirmation email on file for [recommended time] for future reference.
      </p>

      <h1 class="govuk-heading-s">
        What happens next
       </h1>

     <p>
      We have sent your response to the Further education retention payments team. They will:
     </p>
     
     <ul class="govuk-list govuk-list--bullet">
      <li>decide whether to accept or reject the claim</li>
      <li>let the claimant know the outcome of their claim via email</li>
     </ul>

     <p>The Further education retention payments team may contact you again to ask for further information.</p>
         
    

     <p><a href="/p/automated-email">UR purposes: Automated email</a> </p>


    </div>
  </div>

{% endblock %}
