{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


  <br>
  <br>


  <!-- 


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="provider-confirmation" method="post"> 

      <h1 class="govuk-heading-xl">
        Verified financial incentive payment claim
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim reference number
          </dt>
          <dd class="govuk-summary-list__value">
            HDJ2123F
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Completed by
          </dt>
          <dd class="govuk-summary-list__value">
            Fleur Delacour
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Completion date
          </dt>
          <dd class="govuk-summary-list__value">
            3 November 2024
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
        </div>
      </dl>

      <br>
      <br>


      <h1 class="govuk-heading-l">
        Claimant details
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant name
          </dt>
          <dd class="govuk-summary-list__value">
            Cedric Diggory
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            1 January 1998
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant teacher reference number (TRN)
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body"> 8095427</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim date
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">	
              20 October 2024</p>
          </dd>
        </div>
      </dl>

      <br>
      <br>

      <h1 class="govuk-heading-l">
        Confirmed details
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does Cedric Diggory have a permanent term contract of employment at [FE provider]?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is Cedric Diggory timetabled to teach an average of number of hours per week during the current term?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is Cedric Diggory in the first 5 years of their teaching career in England?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
        </div>
      </dl>

      <br>
      <br>

      <h1 class="govuk-heading-l">
        Checked details
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>Cedric Diggory is a member of staff with teaching responsibilities</li>
        <li>For at least half of their timetabled teaching hours, Cedric Diggory teaches:</li>


        <ul class="govuk-list govuk-list--bullet">
          <li>ESFA-funded qualifications at level 3 and below in the <a href="https://www.qualifications.education.gov.uk/Search?Status=Approved&Level=0,1,2,3,4&Sub=13&PageSize=10&Sort=Status">engineering</a> sector subject area </li>
          <li>ESFA-funded qualifications at level 3 and below in the <a href="https://www.qualifications.education.gov.uk/Search?Status=Approved&Level=0,1,2,3,4&Sub=47&PageSize=10&Sort=Status">transportation operations and maintenance </a> sector subject area</li>
        </ul>
                <li>For at least half of their timetabled teaching hours, Cedric Diggory teaches 16- to 19-year-olds, including those up to age 25 with an Education, Health and Care Plan (EHCP)</li>
      </ul>




      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incorrect details
          </dt>
          <dd class="govuk-summary-list__value">
            For at least half of their timetabled teaching hours, Cedric Diggory teaches 16- to 19-year-olds, including those up to age 25 with an Education, Health and Care Plan (EHCP)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Why is this statement incorrect?
          </dt>
          <dd class="govuk-summary-list__value">
            The person does not have students aged 16 to 19
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
        </div>
      </dl>

      -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
    
          <form class="form" action="provider-confirmation" method="post"> 
    
          <h1 class="govuk-heading-xl">
            This claim has already been verified
          </h1>

          <p> Email <a href=''>fe-levellingup.premiumpayments@education.gov.uk if you need to:</a></p>

            
          <ul class="govuk-list govuk-list--bullet">
            <li>view the verification form</li>
            <li>make changes to the details provided in the verification form</li>
          </ul>
          
      

         <p>Make sure you include the claim reference number in your email so we can find the claim and process any changes promptly. </p> 
          
           

        



     </form> 

      </div>
     </div>

{% endblock %}
