{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Review an additional payment claim
      </h1>

      <h1 class="govuk-heading-m">
        Claim details
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim reference
          </dt>
          <dd class="govuk-summary-list__value">
            xxx-xxxxxx
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant name
          </dt>
          <dd class="govuk-summary-list__value">
            Cedric Diggory
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            15 Mar 1998
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant teacher reference number (TRN)
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">TRN</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim date
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">13 May 2024</p>
          </dd>
        </div>
      </dl>

      <h1 class="govuk-heading-m">
        We need you to confirm some details
      </h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Is [claimant name] timetabled to teach an average of [number of hours] per week during the current term?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
              <label class="govuk-label govuk-radios__label" for="signIn">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="signIn-2">
                No
            </label>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Is [claimant name] in the first 5 years of their teaching career in England?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
              <label class="govuk-label govuk-radios__label" for="signIn">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="signIn-2">
                No
            </label>
          </div>
        </fieldset>
      </div>

      <h1 class="govuk-heading-m">
        We need you to check if any of these details are incorrect
      </h1>

      <div id="account-number-hint" class="govuk-hint">
        Select all options that are incorrect
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-checkboxes__label" for="contact">
                They are a member of staff with teaching responsibilities
              </label>
            </div>

            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Why is this statement incorrect?
                </label>
                <div class="govuk-form-group">
                  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
                </div>
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                They teach [course(s)] for at least half of their teaching hours
              </label>
            </div>

            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-phone">
                  Why is this statement incorrect?
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                [IF PRIOR Q IS EARLY YEARS RELATED] [Name of early years course] leads to an early years qualification and meets the required staff:child ratios for a setting delivering the Early Years Foundation Stage Statutory Framework
              </label>
            </div>

            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-text">
                  Why is this statement incorrect?
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
              </div>
            </div>


            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-4" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-4">
              <label class="govuk-label govuk-checkboxes__label" for="contact-4">
                They teach 16 to 19-year-olds, including those up to age 25 with an Education, Health and Care Plan (EHCP), for at least half of their teaching hours              </label>
              </label>
            </div>

            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-4">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-text">
                  Why is this statement incorrect?
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
              </div>
            </div>
          

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-5" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-5">
              <label class="govuk-label govuk-checkboxes__label" for="contact-5">
                They have a [permanent/fixed term] contract of employment at [name of FE provider] 
              </label>
            </div>

            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-5">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-text">
                  Why is this statement incorrect?
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
              </div>
            </div>
             
            <div class="govuk-checkboxes__divider">or</div>
           <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" checked data-behaviour="exclusive">
           <label class="govuk-label govuk-checkboxes__label" for="countries-5">
            All these details are correct
          </label>
          </div>
          </div>
        </fieldset>
      </div>

      


      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Submit
        </button>
       <!-- <a class="govuk-link" href="provider-confirmation.html">Cancel</a>--> 
      </div>

    </div>
  </div>

{% endblock %}
