<h2 class="govuk-heading-m">Claim details</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Claim reference"
      },
      value: {
        text: claim.claimReference
      }
    },
    {
      key: {
        text: "Claimant name"
      },
      value: {
        text: claim.claimantName
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: claim.dateOfBirth
      }
    },
    {
      key: {
        text: "TRN"
      },
      value: {
        html: claim.trn
      }
    },
    {
      key: {
        text: "Date submitted"
      },
      value: {
        html: claim.dateSubmitted
      }
    }
  ]
}) }}