<h3 class="govuk-heading-m">Claim details
    <strong class="govuk-tag govuk-!-font-size-21 
      {% if claim.status == 'In progress' %}
        govuk-tag--blue
      {% elif claim.status == 'Not started' %}
        govuk-tag--yellow
      {% else %}
        govuk-tag--green
      {% endif %}
    ">
      {{ claim.status }}
    </strong>
  </h3>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Claim reference"
      },
      value: {
        text: claim.claimReference
      }
    },
    {
      key: {
        text: "Claimant name"
      },
      value: {
        text: claim.claimantName
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: claim.dateOfBirth
      }
    },
    {
      key: {
        text: "TRN"
      },
      value: {
        html: claim.trn
      }
    },
    {
      key: {
        text: "Date submitted"
      },
      value: {
        html: claim.dateSubmitted
      }
    }
  ]
}) }}