<h3 class="govuk-heading-m">
  Claim details
</h3>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "TRN"
      },
      value: {
        html: claim.trn
      }
    },
    {
      key: {
        text: "Date submitted"
      },
      value: {
        html: claim.dateSubmitted
      }
    },
    {
      key: {
        text: "Verified by provider"
      },
      value: {
        html: claim.dateVerified
      }
    }
  ]
}) }}