{{ govukPagination({
 
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      href: "#",
      current: true 
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

<p class="govuk-!-margin-bottom-0">Showing 1 to 20 of 100 results</p>
{# <p class="govuk-!-margin-bottom-0">Showing {{pagination.firstResultNumber}} to {{pagination.lastResultNumber}} of {{pagination.totalCount}} results</p> #}