{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <form method="post" action="/eligibility/subject-area/next-subject-page">

      <input type="hidden" name="previousCoursePage" value="computing">

      {{ govukCheckboxes({
        name: "Computing, including digital and ICT",
        fieldset: {
          legend: {
            text: "Which computing courses do you teach?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        hint: {
          html: '
            <p class="govuk-hint govuk-!-margin-bottom-2">
              If you are unsure whether the course(s) you teach is eligible, please email:
              <a class="govuk-link" href="mailto:FE-Targeted.Retention-Incentive@education.gov.uk">FE-Targeted.Retention-Incentive@education.gov.uk</a>
            </p>
            <p class="govuk-hint govuk-!-margin-bottom-2">Select all that apply</p>
          '
        },
        items: [
          {
            value: "Qualifications approved for funding at level 3 and below in the ICT practitioners (opens in a new tab) sector subject area",
            html: 'Qualifications approved for funding at level 3 and below in the <a class="govuk-link" href="https://www.qualifications.education.gov.uk/Search?Status=Approved&Level=0,1,2,3,4&Sub=23&PageSize=10&Sort=Status" target="_blank" rel="noopener noreferrer">ICT practitioners (opens in a new tab)</a> sector subject area'
          },
          {
            value: "Qualifications approved for funding at level 3 and below in the ICT for users sector subject area",
            html: 'Qualifications approved for funding at level 3 and below in the <a class="govuk-link" href="https://www.qualifications.education.gov.uk/Search?Status=Approved&Level=0,1,2,3,4&Sub=22&PageSize=10&Sort=Status" target="_blank" rel="noopener noreferrer">ICT for users (opens in a new tab)</a> sector subject area'
          },
          {
            value: "Digital functional skills qualifications and essential digital skills qualifications",
            text: "Digital functional skills qualifications and essential digital skills qualifications"
          },
          {
            value: "T Level in digital support services",
            text: "T Level in digital support services"
          },
          {
            value: "T Level in digital business services",
            text: "T Level in digital business services"
          },
          {
            value: "T Level in digital production, design and development",
            text: "T Level in digital production, design and development"
          },
          {
            value: "IBO level 3 SL and HL computer science, taught as part of a diploma or career related programme or as a standalone certificate",
            text: "IBO level 3 SL and HL computer science, taught as part of a diploma or career related programme or as a standalone certificate"
          },
          {
            value: "Level 2 or level 3 apprenticeships in the digital occupational route",
            html: 'Level 2 or level 3 apprenticeships in the <a class="govuk-link" href="https://occupational-maps.instituteforapprenticeships.org/maps/route/digital" target="_blank" rel="noopener noreferrer">digital occupational route (opens in a new tab)</a>'
          },
          {
            divider: "or"
          },
          {
            value: "none",
            text: "I do not teach any of these courses",
            behaviour: "exclusive"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
