{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/eligibility/subject-area/next-subject-page">

        <input type="hidden" name="previousCoursePage" value="physics"> 

        {{ govukCheckboxes({
          name: "Physics",
          fieldset: {
            legend: {
              text: "Which physics courses do you teach?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: '
              <p class="govuk-hint govuk-!-margin-bottom-2">
                If you are unsure whether the course(s) you teach is eligible, please email:
                <a class="govuk-link" href="mailto:FE-Targeted.Retention-Incentive@education.gov.uk">FE-Targeted.Retention-Incentive@education.gov.uk</a>
              </p>
              <p class="govuk-hint">Select all that apply</p>
            '
          },
          items: [
            {
              value: "A or AS level in physics",
              text: "A or AS level in physics"
            },
            {
              value: "GCSE in physics",
              text: "GCSE in physics"
            },
            {
              value: "IBO level 1 / level 2 MYP physics",
              text: "IBO level 1 / level 2 MYP physics"
            },
            {
              value: "IBO level 3 in SL and HL physics, taught as part of a diploma or career related programme or as a standalone certificate",
              text: "IBO level 3 in SL and HL physics, taught as part of a diploma or career related programme or as a standalone certificate"
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "I do not teach any of these courses",
              behaviour: "exclusive"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
