{% extends "layouts/main.html" %}

{% set pageName = 'Alternative verification' %}

{% block header %}
  {{ govukHeader({
    productName: serviceName,
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{pageName}}</h1>

      <section>
        <h2 class="govuk-heading-m">Targeted retention incentive payment for further education teachers - 'Start now'screen & journey</h2>
        <p class="govuk-body">
          <a class="govuk-link" href="/one-login-returning-claimant">
            Go to 'Start now' journey
          </a>
        </p>
      </section>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <section>
        <h2 class="govuk-heading-m">Did NOT pass IDV journey</h2>
        <p class="govuk-body">
          <a class="govuk-link" href="/one-login-returning-claimant/find-another-way">
            Go to journey
          </a>
        </p>
      </section>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <section>
        <h2 class="govuk-heading-m">Bank details</h2>
        <p class="govuk-body">
          <a class="govuk-link" href="/alt-verification/bank-details.html">
            Go to bank detail confirmation
          </a>
        </p>
      </section>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <section>
        <h2 class="govuk-heading-m">Work email</h2>
        <p class="govuk-body">
          <a class="govuk-link" href="/alt-verification/work-email.html">
            Go to work email entry
          </a>
        </p>
      </section>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <section>
        <h2 class="govuk-heading-m">Verification code</h2>
        <p class="govuk-body">
          <a class="govuk-link" href="/alt-verification/verification-code.html">
            Go to verification code screen
          </a>
        </p>
      </section>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Go back to prototype start page",
          href: "/"
        }) }}
      </div>
   </div>
  </div>   


{% endblock %}
