{% extends "layouts/main.html" %}



{% block header %}
  {{ govukHeader({
    productName: serviceName,
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Personal details</span>
    <h1 class="govuk-heading-xl govuk-!-margin-top-0">Email address</h1>

    <p class="govuk-body">
      You must enter a work email address.
    </p>

    <p class="govuk-body">
      To verify your email address we will send you an email with a 6-digit passcode. You can enter the passcode on the next screen.
    </p>

    <form action="/your-next-step" method="post" novalidate>
      <div class="govuk-form-group">
        <label class="govuk-label" for="email-address">
          Email address
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="email-address" name="emailAddress" type="email" spellcheck="false" autocomplete="email">
      </div>

      {{ govukDetails({
        summaryText: "Why do we ask for your work email address?",
        text: "We require you to enter a work email address so that we can confirm that you are employed at the Further Education provider."
      }) }}
      

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}

