{% extends "layouts/main.html" %}



{% block header %}
  {{ govukHeader({
    productName: serviceName,
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Personal details</span>
    <h1 class="govuk-heading-xl govuk-!-margin-top-0">Email</h1>

    <p class="govuk-body">
      You must now enter your work email address for your further education employer.
    </p>

    <p class="govuk-body">
      We will then send an email with a 6-digit passcode. 
    </p>

    <p class="govuk-body">
      You'll be asked to enter the code on the next screen.
    </p>

    <form action="/your-next-step" method="post" novalidate>
      <div class="govuk-form-group">
        <label class="govuk-label" for="email-address">
          Email address
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="email-address" name="emailAddress" type="email" spellcheck="false" autocomplete="email">
      </div>

      {{ govukDetails({
        summaryText: "Why we need a work email address?",
        text: "We need your work email address at your further education employer so we can confirm you work there."
      }) }}
      

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}

