{% extends "layouts/main.html" %}

{% set pageName = 'Check your answers' %}

{% set serviceNavId = "completedClaims" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  {# <div class="govuk-grid-column-full"> #}
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">{{pageName}}</h1>

        {{ data.user | log }}
        {{ data.claims | log }}

        {% include "_includes/claim/details.njk" %}

        {% include "_includes/claim/complete/complete-verify-answers.njk" %}

        <form method="post" action="/provider/completed/{{ claim.id }}">
          
          {# <h2 class="govuk-heading-m">Declaration</h2>

          {{ govukCheckboxes({
            name: "Declaration",
            items: [
              {
                value: "To the best of my knowledge, I confirm that the information provided in this form is correct.",
                text: "To the best of my knowledge, I confirm that the information provided in this form is correct."
              }
            ]
          }) }} #}
          
          <div class="govuk-button-group">
            {# <button type="submit" class="govuk-button" data-module="govuk-button">
              Verify claim
            </button> #}
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Close
            </button>
          </div>
        </form>
        
  </div>
</div>

{% endblock %}
