{% extends "layouts/main.html" %}

{% set serviceNavId = "completedClaims" %}



{# DfE status counters #}
{% set dfePendingCount = 0 %}
{% set dfeApprovedCount = 0 %}
{% set dfeRejectedCount = 0 %}

{% for claim in data.claims %}
  {% if claim.status == "Pending" %}
    {% set dfePendingCount = dfePendingCount + 1 %}
  {% elseif claim.status == "Approved" %}
    {% set dfeApprovedCount = dfeApprovedCount + 1 %}
  {% elseif claim.status == "Rejected" %}
    {% set dfeRejectedCount = dfeRejectedCount + 1 %}
  {% endif %}
{% endfor %}



{% block content %}

{{ govukNotificationBanner({
  type: "success",
  html: '<h2 class="govuk-heading-m"> '+flash+' </h2>'
}) if flash.length }}

<h1 class="govuk-heading-l">Verified claims ( {{ dfePendingCount +  dfeApprovedCount + dfeRejectedCount }} )</h1>

{{ data.user | log }}
{{ data.claims | log }}

{% include "_includes/claim/dashboard/completed-cards-single-row.njk" %}

<table class="govuk-table" >
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      {# <th scope="col" class="govuk-table__header">Claim reference</th> #}
      <th scope="col" class="govuk-table__header">Claimant name</th>
      <th scope="col" class="govuk-table__header">Claim reference</th>
      <th scope="col" class="govuk-table__header">Date verified</th>
      {# <th scope="col" class="govuk-table__header">Processed by</th> #}
      <th scope="col" class="govuk-table__header">DfE Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body govuk-!-font-size-16">
    {% for claim in claims %}
    {% if claim.status in ["Pending", "Approved", "Rejected"] %}
        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
            <a href="/provider/completed/show/{{ claim.id }}" class="govuk-link">
              {{ claim.claimantFirstName }} {{ claim.claimantLastName }}
            </a>
          </td>

          <td class="govuk-table__cell" data-sort-value="{{ claim.claimReference }}">{{ claim.claimReference }}</td>
          <td class="govuk-table__cell" data-sort-value="{{ claim.dateVerifiedIso }}">{{ claim.dateVerified }}</td>
          
          {# <td class="govuk-table__cell" data-sort-value="{{ claim.assignedTo }}">{{ claim.assignedTo }}</td> #}
          <td class="govuk-table__cell" data-sort-value="{{ claim.status }}">
            {{ govukTag({
              text: claim.status,
              classes: claim.status | statusColour
            }) }}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
  
  
  
</table>

{# {% include "_includes/pagination.njk" %} #}


{% endblock %}
