{% extends "layouts/main.html" %}

{% set serviceNavId = "completedClaims" %}

{% set pageName = 'Claim ref: ' + claim.claimReference %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/provider/completed"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-l">{{claim.claimantName}}</span>
      <h1 class="govuk-heading-l">{{pageName}}
          {% if claim.verified === true %}
          {{ govukTag({
            text: "Verified",
            classes: "govuk-tag--blue"
          }) }}
          {% elseif claim.verified === false %}
            {{ govukTag({
              text: "Not verified",
              classes: "govuk-tag--grey"
            }) }}
          {% else %}
            {{ govukTag({
              text: claim.status,
              classes: claim.status | statusColour
            }) }}
        {% endif %}
      </h1>
      

      {% if claim.status == 'Complete' %}
      <div class="govuk-inset-text">
        Claim verified by {{ claim.assignedTo }} on {{ claim.assignedDate | govukDate }} {{ claim.assignedDate | govukTime }}
      </div>
      {% endif %}


      {{ data.user | log }}
      {{ data.claims | log }}

      {% include "_includes/claim/read-only-details.njk" %}


      {% include "_includes/claim/verified/verify-read-only-answers.njk" %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Close claim",
          href: "/provider/completed"
        }) }}
      </div>
     
    

  </div>
</div>

{% endblock %}
