{{ govukSummaryList({
  card: {
    title: {
      text: "Verify the details of the claim",
      classes: "govuk-heading-m"
    }
  },
  rows: [
    {
      key: {
        text: "Permanent contract"
      },
      value: {
        text: data["permanentContract"] or "Yes"
      }
    },
    {
      key: {
        text: "Teaching responsibilities"
      },
      value: {
        text: data["teachingResponsibilities"] or "Yes"
      }
    },
    {
      key: {
        text: "In first 5 years of FE teaching"
      },
      value: {
        text: data["first5Years"] or "Yes"
      }
    },
    {
      key: {
        text: "Teaches 12+ hours per week"
      },
      value: {
        text: data["twelveHoursPerWeek"] or "Yes"
      }
    },
    {
      key: {
        text: "Teaches 16–19 year olds or with EHCP"
      },
      value: {
        text: data["sixteenToNineteen"] or "Yes"
      }
    },
    {
      key: {
        text: "Teaches approved qualifications in engineering"
      },
      value: {
        text: data["fundingAtLevelThreeAndBelow"] or "Yes"
      }
    },
    {
      key: {
        text: "Currently subject to any performance measures"
      },
      value: {
        text: data["performanceMeasures"] or "No"
      }
    },
    {
      key: {
        text: "Currently subject to any disciplinary action"
      },
      value: {
        text: data["subjectToDisciplinaryAction"] or "No"
      }
    }
  ]
}) }}
