<!doctype html>
<html class="no-js" lang="">

<head>
	<title>Email</title>
	<meta charset="utf-8">
	<!-- <link href="mock-email-notification.css" rel="stylesheet"> -->
	<link href="/public/stylesheets/application.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
</head>

<body style="margin:0;">
	<div class="mock-email-wrapper">
	<div class="mock-email">
	  <table class="mock-email--table">
	    <tbody class="mock-email--table__body">
	      <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
	          <p><span class="mock-email--text-secondary">From:</span> Further education retention payments</p>
	        </td>
	      </tr>
	      <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
	          <p><span class="mock-email--text-secondary">To:</span> hr@college.ac.uk</p>
	        </td>
	      </tr>
	      <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
	        	<p><span class="mock-email--text-secondary">Subject:</span> Verification form PLE5117E has been submitted for Kehlani Ashley</p>
	        </td>
	      </tr>
	      <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell mock-email--body">
	        	<p>Dear HR team,</p>
				<p>Re: Kehlani Ashley </p>
				<p>We have received a verification form for the person named above. This was completed by Fleur Delacour on 5 November 2024.</p>

				<p><strong>Contact us</strong></p>

                 <p>You should email:<a href="#1"> [email address]</a>  as soon as possible if you:

					<ul class="govuk-list govuk-list--bullet">
						<li>don’t recognise the name of the person who completed the verification form</li>
						<li>need to make changes to the details provided in the verification form</li>
					  </ul>
				 </p>

				 <p>
					Make sure you include the claim reference number in your email so we can find the claim and process any changes promptly. The claim reference number is PLE5117E.

				 </p>


	        	<p>
	        		Regards,
					<br>
	        		Further education retention payments
	        	</p>
	        </td>
	      </tr>
	    </tbody>
	  </table>


	  <br>
	  <br>

	  <p> verified claim webpage <a href='https://fe-claim-lup-further-education-dc844b88474d.herokuapp.com/pst/verified-claim-st'> link</a></p>

	</div>
	</div>
</body>
