<!doctype html>
<html class="no-js" lang="">

<head>
	<title>Email</title>
	<meta charset="utf-8">
	<!-- <link href="mock-email-notification.css" rel="stylesheet"> -->
	<link href="/public/stylesheets/application.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
</head>

<body style="margin:0;">
	<div class="mock-email-wrapper">
	<div class="mock-email">
	  <table class="mock-email--table">
	    <tbody class="mock-email--table__body">
	      <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
	          <p><span class="mock-email--text-secondary">From:</span> Further education levelling up premium payments</p>
	        </td>
	      </tr>
	      <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
	          <p><span class="mock-email--text-secondary">To:</span> hr@team.gov.uk</p>
	        </td>
	      </tr>
	      <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
	        	<p><span class="mock-email--text-secondary">Subject:</span>You have a new further education financial incentive payment verification request for Kehlani Asheley - reference XXXXXX</p>
	        </td>
	      </tr>
	      <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell mock-email--body">
	        	<p>Dear HR team,</p>
				<p>Re: Kehlani Ashley </p>
				<p>On 4 July 2024, the person named above applied for a financial incentive payment for early career further education teachers.</p>
				<p><strong>We need you to verify some details so we can process their claim</strong></p>
	        	<p><a href="/pst/dfe-start-st.html">Access DfE Sign-in</a> to complete their verification form by 24 July 2024.</p>
				<p>The information you provide in the verification form should be correct as of 4 July 2024.</p>
                 <p>If you have any questions or require support to complete the form, email:<a href="#1">FE-Levellingup.PremiumPayments@education.gov.uk</a></p>
				 <p><strong>Further information</strong></p>
				 <p>To find out more information about levelling up premium payments for early career further education teachers, visit:  <a href="#1">https://www.gov.uk/guidance/levelling-up-premium-payments-for-fe-teachers</a></p>
	        	<p>
	        		Regards,<br>
	        		Further education levelling up premium payments
	        	</p>
	        </td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	</div>
</body>
