<!doctype html>
<html class="no-js" lang="">

<head>
	<title>Email</title>
	<meta charset="utf-8">
	<!-- <link href="mock-email-notification.css" rel="stylesheet"> -->
	<link href="/public/stylesheets/application.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
</head>



<body style="margin:0;">

	

	<div class="mock-email-wrapper">
	<div class="mock-email">
	  <table class="mock-email--table">
	    <tbody class="mock-email--table__body">

	      <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			  <p><strong>Outlook Inbox</strong></p>
	        </td>
	      </tr>
		  
		  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
			New email
		  </button>

		  <tr class="mock-email--table__row">
				<td class="mock-email--table__cell">
				<p style="font-size: 16px; color: #1d70b8;">
				<strong>
			  	<a href="/pst/mock-email-st.html" class="secret-link">
					You have a new retention payment verification request for Kehlani Ashley - PLE5117E
				</a>
				</strong>
				<br>
				<br>
				<span class="mock-email--text-secondary">Dear HR, Re: Kehlani Ashley</span>
				</p>
				</td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			  <p> <strong>You have a new further education financial incentive payment verification request for Nicola Coughlan - HEY3434E </a>
			  </strong>
				<br> 
				<br>
				<span class="mock-email--text-secondary">Dear HR, Re:  Nicola Coughlan</span>
			 </p>
	        </td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			  <p><a href="" class="secert-link"><strong>Request for annual leave</strong></a> 
				<br> 
				<br>
				<span class="mock-email--text-secondary">Dear HR, I am writing to you to confirm if my dates for my annual lea..</span>
			 </p>
	        </td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
			  <p><a href="" class="secert-link"><strong>DfE Sign-in</strong></a> 
				<br> 
				<br>
				<span class="mock-email--text-secondary">Dear Identified person, there was an unexpected sign in. Please con..</span>
			 </p>
	        </td>
	      </tr>

		  <tr class="mock-email--table__row">
	        <td class="mock-email--table__cell">
				<p> <strong>You have a new further education financial incentive payment verification request for Daphane Bridgerton - DUK3778E </strong>
				<br> 
				<br>
				<span class="mock-email--text-secondary">Dear HR, Re: Daphane Bridgerton</span>
			 </p>
	        </td>
	      </tr>

		 
		  

	      
	      
	    </tbody>
	  </table>
	</div>
	</div>
</body>
