{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Verification complete
        </h1>
        <div class="govuk-panel__body">
          Claim reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <div class="govuk-!-padding-bottom-5"></div>
      <p>
        We have sent you a confirmation email, which includes the claim reference number and a copy of the verification form. 
        
        <br>
        <br>

        You should keep the confirmation email on file for time TBC for future reference.
      </p>

      <h1 class="govuk-heading-s">
        What happens next
       </h1>

     <p>

      We’ve sent your response to the Further education levelling up premium payments team.      <br>
      <br>
      They may contact you again to ask for further information.     
     </p>

     <p><a href="/pst/automated-email-st">UR purposes: Automated email</a> </p>


    </div>
  </div>

{% endblock %}
