{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-button-group">
  <a class="govuk-link" href="#">Close</a>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="provider-confirmation" method="post"> 

      <h1 class="govuk-heading-xl">
        Verified financial incentive payment claim
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim reference number
          </dt>
          <dd class="govuk-summary-list__value">
            PLE5117E
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Completed by
          </dt>
          <dd class="govuk-summary-list__value">
            Fleur Delacour
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Completion date
          </dt>
          <dd class="govuk-summary-list__value">
            5 November 2024
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
        </div>
      </dl>


      <br>
      <br>


      <h1 class="govuk-heading-l">
        Claimant details
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant name
          </dt>
          <dd class="govuk-summary-list__value">
            Kehlani Ashley
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            15 March 1998
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant teacher reference number (TRN)
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Not provided</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim date
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1 October 2024</p>
          </dd>
        </div>
      </dl>

      <br>
      <br>

      <h1 class="govuk-heading-l">
        Confirmed details
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does Kehlani Ashley have a variable hour contract of employment at [FE provider]?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is Kehlani Ashley timetabled to teach an average of 12 hours per week during the current term?          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will Kehlani Ashley be timetabled to teach at least 2.5 hours per week next term?          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is Kehlani Ashley in the first 5 years of their teaching career in England?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
        </div>
      </dl>

      <br>
      <br>


      <h1 class="govuk-heading-l">
        Checked details
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>Kehlani Ashley is a member of staff with teaching responsibilities</li>
        <li> For at least half of their timetabled teaching hours, Kehlani Ashley teaches 	a course at level 3 and below that leads to an <a href="https://assets.publishing.service.gov.uk/media/6644ab93ae748c43d3793bdf/Early_Years_Qualifications_achieved_in_the_United_Kingdom_16_May.xlsx">early years qualification </a> which enables providers to count the recipient in staff:child ratios
        </li>
        <li> For at least half of their timetabled teaching hours, Kehlani Ashley teaches 16- to 19-year-olds, including those up to age 25 with an <a href="https://www.gov.uk/children-with-special-educational-needs/extra-SEN-help">Education, Health and Care Plan (EHCP)</a></li>
        <li>Kehlani Ashley has worked at least one academic term at FE provider</li>
      </ul>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incorrect details
          </dt>
          <dd class="govuk-summary-list__value">
            For at least half of their timetabled teaching hours, Kehlani Ashley teaches 	a course at level 3 and below that leads to an <a href="https://assets.publishing.service.gov.uk/media/6644ab93ae748c43d3793bdf/Early_Years_Qualifications_achieved_in_the_United_Kingdom_16_May.xlsx">early years qualification </a> which enables providers to count the recipient in staff:child ratios
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Why is this statement incorrect?
          </dt>
          <dd class="govuk-summary-list__value">
           The course does not meet ratios
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        </div>
        <div class="govuk-summary-list__row">
        </div>
      </dl>

       

     </form> 

      </div>
     </div>

{% endblock %}
