{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="provider-confirmation" method="post"> 

      <h1 class="govuk-heading-xl">
        Review a financial incentive payment claim
      </h1>

      <h1 class="govuk-heading-l">
        Claim details
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim reference
          </dt>
          <dd class="govuk-summary-list__value">
            xxx-xxxxxx
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant name
          </dt>
          <dd class="govuk-summary-list__value">
            Kehlani Ashley
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            15 Mar 1998
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant teacher reference number (TRN)
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">TRN or Not provided</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim date
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">13 May 2024</p>
          </dd>
        </div>
      </dl>

      <h1 class="govuk-heading-l">
        We need you to confirm some details
      </h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Is [claimant name] timetabled to teach an average of [number of hours] per week during the current term?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
              <label class="govuk-label govuk-radios__label" for="signIn">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="signIn-2">
                No
            </label>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Is [claimant name] in the first 5 years of their teaching career in England?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
              <label class="govuk-label govuk-radios__label" for="signIn">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="signIn-2">
                No
            </label>
          </div>
        </fieldset>
      </div>

      <h1 class="govuk-heading-l">
        We need you to check if any of these details are incorrect
      </h1>

     <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          
          <div id="contact-hint" class="govuk-hint">
            Select all options that are incorrect
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact-8">
                  <label class="govuk-label govuk-checkboxes__label" for="contact">
                    They are a member of staff with teaching responsibilities
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-8">
                  <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-email">
                        Why is this statement incorrect?
                      </label>
                      <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
                  </div>
                </div>

               <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-9">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                    For at least half of their timetabled teaching hours, Jake Smith teaches ESFA-funded qualifications at level 3 and below in the engineering sector subject area
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-9">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Why is this statement incorrect?
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
                </div>
              </div>

              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-10">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                    Name of early years course leads to an early years qualification and meets the required staff:child ratios for a setting delivering the Early Years Foundation Stage Statutory Framework
                  </label>
               </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-10">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Why is this statement incorrect?
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
                </div>
               </div>

               <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-11">
                <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                  They teach 16 to 19-year-olds, including those up to age 25 with an Education, Health and Care Plan (EHCP), for at least half of their teaching hours                </label>
             </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-11">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Why is this statement incorrect?
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
              </div>
             </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-12">
                <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                  They have a permanent/fixed term contract of employment at name of FE provider           </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-12">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Why is this statement incorrect?
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
              </div>
              </div>


              <div class="govuk-checkboxes__divider">or</div>
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-4" name="contact" type="checkbox" value="none" data-behaviour="exclusive">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-4">
                      All of these details are correct
                  </label>
              </div>
                    </div>
                </fieldset>
              </div>

              <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Submit
              </button>
            <!-- <a class="govuk-link" href="provider-confirmation.html">Cancel</a>--> 
            </div>

     </form> 


    </main>
    </div>





      </div>
     </div>

{% endblock %}
