     <h2 class="govuk-heading-m govuk-!-margin-top-7">We need you to check if any of these details are incorrect</h2>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          Select all options that are incorrect
        </legend>

        {{ govukCheckboxes({
          idPrefix: "incorrect",
          name: "incorrect",
          classes: "govuk-checkboxes",
          items: [
            {
              value: "teaching-responsibilities",
              text: "They are a member of staff with teaching responsibilities"
            },
            {
              value: "course",
              text: "They teach [course(s)] for at least half of their teaching hours"
            },
            {
              value: "early-years",
              text: "[IF PRIOR Q IS EARLY YEARS RELATED] [Name of early years course] leads to an early years qualification and meets the required staff-child ratios for a setting delivering the Early Years Foundation Stage Statutory Framework"
            },
            {
              value: "ehcp",
              text: "They teach 16 to 19-year-olds, including those up to age 25 with an Education, Health and Care Plan (EHCP), for at least half of their teaching hours"
            },
            {
              value: "contract",
              text: "They have a [permanent/fixed term] contract of employment at [name of FE provider]",
              checked: true
            }
          ]
        }) }}
      </fieldset>

      {{ govukTextarea({
        name: "why-incorrect",
        id: "why-incorrect",
        label: {
          text: "Why is this statement incorrect?"
        },
        rows: 4
      }) }}

      {{ govukCheckboxes({
        idPrefix: "details-correct",
        name: "details-correct",
        items: [
          {
            value: "all-correct",
            text: "All these details are correct"
          }
        ]
      }) }}
    </div>

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Save as draft
      </button>
    </div>