{{ govukRadios({
  name: "permanentContract",
  value: claim.permanentContract,
  classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: "Does " + claim.claimantName + " have a permanent contract of employment at [FE provider]?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

{{ govukRadios({
  name: "teachingResponsibilities",
  value: claim.teachingResponsibilities,
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "Is " + claim.claimantName + " a member of staff with teaching responsibilities?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  name: "first5Years",
  value: claim.first5Years,
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "Is " + claim.claimantName + " in the first 5 years of their further education (FE) teaching career in England?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  name: "twelveHoursPerWeek",
  value: claim.twelveHoursPerWeek,
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "Is " + claim.claimantName + " timetabled to teach, on average, for 12 hours or more per week during the current term?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  name: "sixteenToNineteen",
  value: claim.sixteenToNineteen,
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "For at least half of their timetabled teaching hours, does " + claim.claimantName + " teach 16- to 19-year-olds, including those up to age 25 with an Education, Health and Care Plan (EHCP)?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  name: "fundingAtLevelThreeAndBelow",
  value: claim.fundingAtLevelThreeAndBelow,
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      html: "For at least half of their timetabled teaching hours, does " + claim.claimantName + " teach:<ul class='govuk-list govuk-list--bullet'><li>qualifications approved for funding at level 3 and below in the <a href='https://www.qualifications.education.gov.uk/Search?Status=Approved&Level=0,1,2,3,4&Sub=13&PageSize=10&Sort=Status' target='_blank'>engineering (opens in a new tab)</a> sector subject area?</li></ul>",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  name: "performanceMeasures",
  value: claim.performanceMeasures,
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "Is " + claim.claimantName + " currently subject to any performance measures?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  name: "subjectToDisciplinaryAction",
  value: claim.subjectToDisciplinaryAction,
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "Is " + claim.claimantName + " currently subject to any disciplinary action?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
