{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Do you have a GOV.UK OneLogin account?
      </h1>

      {# <p>This would have been for the 2024 to 2025 academic year.</p> #}

      {% if error %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [ error ]
        }) }}
      {% endif %}

      <form method="post" novalidate>
        {{ govukRadios({
          name: "hasOneLoginAccount",
          fieldset: {
            legend: {
              text: pageName,
              classes: "govuk-fieldset__legend--s govuk-visually-hidden"
            }
          },
          value: data.hasOneLoginAccount,
          errorMessage: error if error and error.href == "#hasOneLoginAccount",
          items: [
            { value: "Yes", text: "Yes" },
            { value: "No", text: "No" },
            { divider: "or"},
            { value: "I don't know", text: "I don't know" }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      

    </div>
  </div>

      
  

{% endblock %}
