{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Education, training, skills",
        href: "#"
      },
      {
        text: "Further and higher education, skills and vocational training"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>
      <p>Use this service to check if you're eligible for the additional payments we give to some further education (FE) teachers to teach certain subjects in areas that have a high need for teachers.</p>

      <p>If you meet the eligibility criteria, you can then apply for the money.</p>


      {{ govukInsetText({
          text: "This service uses GOV.UK One Login to prove your identity. You'll be able to create a GOV.UK One Login if you do not already have one. You will need photo ID to prove your identity."
      }) }}

      {{ govukButton({
        text: "Start now",
        isStartButton: true,
        href: "/one-login-returning-claimant/do-you-have-a-one-login-account"
      }) }}

     </div>
     </div>

      
  

{% endblock %}
