{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Which academic year did you start teaching in further education (FE) in England?      
      </h1>

      <!--academic-year-in-further-education-->
      <form class="form" action="/subject-areas" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="academicYearInFurtherEducation" name="academicYearInFurtherEducation" type="radio" value="September 2020 to August 2021">
                <label class="govuk-label govuk-radios__label" for="academicYearInFurtherEducation">
                  September 2025 to August 2026
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="academicYearInFurtherEducation-2" name="academicYearInFurtherEducation" type="radio" value="September 2021 to August 2022">
                <label class="govuk-label govuk-radios__label" for="academicYearInFurtherEducation-2">
                  September 2024 to August 2025
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="academicYearInFurtherEducation-3" name="academicYearInFurtherEducation" type="radio" value="September 2022 to August 2023">
                <label class="govuk-label govuk-radios__label" for="academicYearInFurtherEducation-3">
                  September 2023 to August 2024
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="academicYearInFurtherEducation-4" name="academicYearInFurtherEducation" type="radio" value="September 2023 to August 2024">
                <label class="govuk-label govuk-radios__label" for="academicYearInFurtherEducation-4">
                  September 2022 to August 2023
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="academicYearInFurtherEducation-5" name="academicYearInFurtherEducation" type="radio" value="September 2024 to August 2025">
                <label class="govuk-label govuk-radios__label" for="academicYearInFurtherEducation-5">
                  September 2021 to August 2022
                </label>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="academicYearInFurtherEducation-6" name="academicYearInFurtherEducation" type="radio" value="I started before September 2020">
                <label class="govuk-label govuk-radios__label" for="academicYearInFurtherEducation-6">
                  Before September 2021
                </label>
              </div>
            </div>
          </fieldset>
        </div>


               
        </div>


        </fieldset>
        </div> 

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
