{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Tell us if you are currently under any performance measures or disciplinary action
      </h1>

          <form method="post">

            {{ govukRadios({
              name: "claimantPerformanceMeasures",
              fieldset: {
                legend: {
                  text: "Are you subject to any formal performance measures as a result of continuous poor teaching standards?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                html: "This will be as a result of your underperformance as a teacher over a period of time. It could put your employment at the further education (FE) provider at risk and is something we will check with them as it will affect your eligibility."
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes"
                },
                {
                  value: "No",
                  text: "No"
                }
              ]
            }) }}

            {{ govukRadios({
              name: "claimantDisciplinaryAction",
              fieldset: {
                legend: {
                  text: "Are you currently subject to disciplinary action?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                html: "This is more serious than performance measures and could be because of misconduct. It is something we will check with your FE provider as it affects your eligibility."
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes"
                },
                {
                  value: "No",
                  text: "No"
                }
              ]
            }) }}

            {{ govukButton({
              text: "Continue"
            }) }}

          </form>


    </div>
  </div>

{% endblock %}
