{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Education, training, skills",
        href: "#"
      },
      {
        text: "Further and higher education, skills and vocational training"
      }
    ]
  }) }}

{% endblock %}

{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check you're eligible for a targeted retention incentive payment for further education
      </h1>

      <p class="govuk-body-l">
        Answer the questions in the next section to find out if you're eligible to claim a payment for the academic year 2025 to 2026.
      </p>

      <h2 class="govuk-heading-m">If you applied last year</h2>
      <p class="govuk-body">
        We review eligibility every year, so you'll need to complete a new eligibility check each time you apply.
      </p>

      <h2 class="govuk-heading-m">Before starting your eligibility check</h2>
      <p class="govuk-body">
        You'll also be asked to enter details about your:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>contract or written statement of employment</li>
        <li>teaching timetable</li>
      </ul>

      <p class="govuk-body">
        The details you enter will be checked and verified by your employer.
      </p>

      {{ govukButton({
        text: "Start eligibility check",
       href: "academic-year-in-further-education",
        classes: "govuk-button"
      }) }}

      <h2 class="govuk-heading-m">Full eligibility criteria</h2>
      <p class="govuk-body">
        Read the <a class="govuk-link" href="#">eligibility guidance for the targeted retention incentive payment</a>.
      </p>

    </div>
  </div>
{% endblock %}
s
