{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Are you a member of staff with teaching responsibilities?
      </h1>

      <div id="dob-hint" class="govuk-hint">
        This includes all job titles where the role involves teaching further education students.
      </div>

      <form method="post">

        {{ govukRadios({
          classes: "govuk-radios",
          name: "changedName",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
      
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Who counts as a teacher for this payment
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>An FE teacher is someone who teaches, even if it’s not their main job. This payment isn’t for support staff like assistants or technicians.</p>

          <p>They're likely to have a teaching contract, teach groups of students, plan and mark work, or be working towards a teaching qualification.</p>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
