{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% set pageName = "Have you taught at " + data.worksAtFeProvider + " for at least one academic term?" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
          {{ pageName }}  
      </h1>

      <form method="post">

        {{ govukRadios({
          name: "claimantTaughtOneFullTerm",
          fieldset: {
            legend: {
              text: "Have you taught at " + data.worksAtFeProvider + " for at least one academic term?",
              classes: "govuk-fieldset__legend--m govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
