{% extends "layouts/main.html" %}

{% set serviceNavId = "allClaims" %}

{% set pageName = "Can you confirm Nate Harper is " + claim.claimantName + "?" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

    <h1 class="govuk-heading-l">{{ pageName }}</h1>


    <form method="post" novalidate>

      {{ govukRadios({
        name: "confirmKnownAlias",
        idPrefix: "confirm-aka-is-applicant",
        fieldset: {
          legend: {
            text: "Can you confirm [also known as] is " + claim.claimantName + "?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m govuk-visually-hidden"
          }
        },
        value: data.confirmKnownAlias,
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {# {{ govukInsetText({
        text: "If you recognise the 'also known as' name but not the claimant name, you must be confident the claimant name is related to the 'also known as' name. Otherwise do not confirm that the claimant is an employee."
      }) }} #}


      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}
