{% extends "layouts/main.html" %}


{% set pageName =  'Claim reference: ' + claim.claimReference %}
{% set serviceNavId = "allClaims" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">{{claim.claimantName}}</span>
      <h1 class="govuk-heading-l">{{ pageName }}
        {% if claim.verified %}
          {{ govukTag({ text: "Verified", classes: "govuk-tag--blue" }) }}
        {% elseif claim.status == "In progress" %}
          {{ govukTag({ text: "In progress", classes: "govuk-tag--yellow" }) }}
        {% elseif claim.status == "Not started" %}
          {{ govukTag({ text: "Not started", classes: "govuk-tag--red" }) }}
        {% endif %}
      </h1>

       {# ✅ Applicant name summary card with individual change links #}
      {{ govukSummaryList({
        card: {
          title: {
            text: "Employee name and alias"
          }
        },
        rows: [
          {
            key: { text: "Do you employ " + claim.claimantName + "?" },
            value: { text: data.doYouEmploy or "Not answered" },
            actions: {
              items: [
                {
                  href: "/provider/check-identity/" + claim.id,
                  text: "Change",
                  visuallyHiddenText: "Do you employ " + claim.claimantName
                }
              ]
            }
          },
          {
            key: { text: "Is Nate Harper employed by [fe_provider_name]?" },
            value: { text: data.alsoKnownAs or "Not answered" },
            actions: {
              items: [
                {
                  href: "/provider/check-identity/also-known-as/" + claim.id,
                  text: "Change",
                  visuallyHiddenText: "Is " + claim.claimantName + " employed by " + claim.feProviderName
                }
              ]
            }
          } if data.doYouEmploy === 'No',
          {
            key: { text: "Can you confirm Nate Harper is " + claim.claimantName + "?" },
            value: { text: data.confirmKnownAlias or "Not answered" },
            actions: {
              items: [
                {
                  href: "/provider/check-identity/also-known-as-confirm/" + claim.id,
                  text: "Change",
                  visuallyHiddenText: "Confirm alias is " + claim.claimantName
                }
              ]
            }
          } if data.doYouEmploy === 'No'
        ]
    }) }}


  {# ✅ Personal details summary card with single change link #}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Personal details"
        },
        actions: {
          items: [
            {
              href: "/provider/check-identity/personal-details/" + claim.id,
                text: "Change",
              visuallyHiddenText: "Personal detailse"
            }
          ]
        }
      },
       rows: [
          {
            key: { text: "Date of birth" },
            value: {
              text: (data["returnClaimantDob-year"] + "-" + data["returnClaimantDob-month"] + "-" + data["returnClaimantDob-day"]) | date("D MMMM YYYY")
            }
          },
          {
            key: { text: "Postcode" },
            value: { text: data.returnClaimantPostcode or "Not provided" }
          },
          {
            key: { text: "National Insurance number" },
            value: { text: data.returnClaimantNationalInsuranceNumber or "Not provided" }
          },
          {
            key: { text: "Bank details match" },
            value: { text: data.claimantBankDetailsMatch or "Not answered" }
          },
          {
            key: { text: "Work email address" },
            value: { text: data.claimantWorkEmail or "Not provided" }
          }
        ]
    }) }}



    <form method="post" action="/provider/check-identity/check/{{ claim.id }}">
      <h2 class="govuk-heading-m">Declaration</h2>

      {{ govukCheckboxes({
        name: "Declaration",
        items: [
          {
            value: "To the best of my knowledge, I confirm that the information provided in this form is correct.",
            text: "To the best of my knowledge, I confirm that the information provided in this form is correct."
          }
        ]
      }) }}

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and send
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
