{% extends "layouts/main.html" %}

{% set serviceNavId = "allClaims" %}

{% set pageName = "Does " + claim.feProvider + " employ " + claim.claimantName + " ?" %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

    <h1 class="govuk-heading-l">{{ pageName }}</h1>



    <form action="/provider/check-identity/do-you-employ/{{ claim.id }}" method="post" novalidate>
      {{ govukRadios({
        name: "doYouEmploy",
        idPrefix: "do-you-employ",
        fieldset: {
          legend: {
            text: "Does " + claim.feProvider + " employ " + claim.claimantName + " ?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-visually-hidden"
          }
        },
        value: data.doYouEmploy,
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}
