{% extends "layouts/main.html" %}

{% set serviceNavId = "allClaims" %}

{% set pageName = 'Further information is required on this claim' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">The applicant was not able to prove their identity using GOV.UK One Login.</p>
    <p class="govuk-body">Before you can verify the claim you need to provide information about the applicant using information you should have access to.</p>
    <p class="govuk-body">You do not need to send any documents to DfE</p>


    

         <form method="post" novalidate>
          {{ govukButton({ text: "Continue" }) }}
        </form>
  
  </div>
</div>
{% endblock %}
