{% extends "layouts/main.html" %}

{% set serviceNavId = "allClaims" %}

{% set pageName = 'Further information is required on this claim' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">We were unable to verify the claimant's identity via GOV.UK One Login.</p>
    <p class="govuk-body">You will need to provide additional information about the claimant referring to information you should have on file.</p>
    <p class="govuk-body">You do not need to send any documents to DfE</p>


    

         <form method="post" novalidate>
          {{ govukButton({ text: "Continue" }) }}
        </form>
  
  </div>
</div>
{% endblock %}
