{% if data.user %} 
  {% set serviceUrl = '/provider' %}
{% else %}
  {% set serviceUrl = '/account/dfe-sign-in' %}
{% endif%}         


{{ govukHeader({
  productName: serviceName,
  classes: "govuk-header--full-width-border"
}) }}

{{ govukServiceNavigation({
  navigation: [
    {
      href: "/provider",
      text: "Unverified claims",
      current: serviceNavId == "allClaims"
    },
    {
      href: "/provider/completed",
      text: "Verified claims",
      current: serviceNavId == "completedClaims"
      
    },
    {
      href: "/account/sign-out",
      text: "Sign out"
    }
  ] if data.user
}) }}