{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check your phone</h1>

        <div class="govuk-inset-text">
          We have sent a code to your phone number ending with <strong>137</strong>
        </div>

        <p class="govuk-body">
          It might take a few minutes to arrive. The code will expire after 15 minutes.
        </p>
    <form method="post" novalidate>
      <div class="govuk-form-group">
        <label class="govuk-label" for="security-code">
          Enter the 6 digit security code
        </label>
        <input class="govuk-input govuk-input--width-10" id="security-code" name="security-code" type="text" inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Problems with the code?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">Try waiting a little longer. If it still hasn’t arrived, you can request a new code on the previous screen.</p>
      </div>
    </details>

    <p class="govuk-body">
      <a class="govuk-link" href="#">I’ve forgotten my password</a>
    </p>
  </div>
</div>

{% endblock %}
