{% extends "layouts/main.html" %}

{% set pageName =  claim.claimantName %}
{% set serviceNavId = "allClaims" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    

      <span class="govuk-caption-l">
        Review claim - {{ claim.claimReference }}
        <strong class="govuk-tag govuk-!-font-size-19 {{ claim.status | statusColour }}">
          {{ claim.status }}
        </strong>
      </span>  
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {{ data.user | log }}
      {{ data.claims | log }}

    
    {################## ROLE AND EXPERIENCE ###############}  
    {{ govukSummaryList({
      card: {
        title: {
          text: "Role and experience",
          classes: "govuk-heading-m"
        },
        actions: {
          items: [
            {
              href: "/provider/member-of-staff/" + claim.id + "?returnUrl=/provider/check/" + claim.id,
              text: "Change",
              visuallyHiddenText: "role and experience"
            }
          ]
        }
      },
      rows: [
        { key: { text: "Teaching responsibilities" }, value: { text: claim.teachingResponsibilities | default("Not answered") } },
        { key: { text: "In first 5 years of FE teaching" }, value: { text: claim.first5Years | default("Not answered") } },
        { key: { text: "Teaching qualification" }, value: { text: claim.hasTeachingQualification | default("Not answered") } },
        { key: { text: "Mitigating circumstances for qualification" }, value: { text: claim.qualificationMitigations | default("Not answered") } } if claim.qualificationMitigations
      ]
    }) }}


    {################## TYPE OF CONTRACT ###############}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Type of contract",
          classes: "govuk-heading-m"
        },
        actions: {
          items: [
            {
              href: "/provider/type-of-contract/" + claim.id + "?returnUrl=/provider/check/" + claim.id,
              text: "Change",
              visuallyHiddenText: "type of contract"
            }
          ]
        }
      },
      rows: [
        { key: { text: "Contract type" }, value: { text: claim.contractType | default("Not answered") } },
        { key: { text: "Fixed-term covers full academic year" }, value: { text: claim.fixedTermAcademicYear | default("Not answered") } } if claim.contractType == "Fixed-term",
        { key: { text: "Timetabled to teach at least 2.5 hours per week in the spring term" }, value: { text: claim.variableContractTimetabledHours | default("Not answered") } } if claim.contractType == "Variable hours"
      ]
    }) }}

    {################## PERFORMANCE AND DISCIPLINE ###############}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Performance and discipline",
          classes: "govuk-heading-m"
        },
        actions: {
          items: [
            {
              href: "/provider/performance-and-discipline/" + claim.id + "?returnUrl=/provider/check/" + claim.id,
              text: "Change",
              visuallyHiddenText: "performance and discipline"
            }
          ]
        }
      },
      rows: [
        { key: { text: "Subject to performance measures" }, value: { text: claim.performanceMeasures | default("Not answered") } },
        { key: { text: "Subject to disciplinary action" }, value: { text: claim.disciplinaryAction | default("Not answered") } }
      ]
    }) }}


    {################## CONTRACTED HOURS ###############}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Contracted hours",
          classes: "govuk-heading-m"
        },
        actions: {
          items: [
            {
            href: "/provider/timetabled-hours-during-term/" + claim.id + "?returnUrl=/provider/check/" + claim.id,
            text: "Change",
            visuallyHiddenText: "contracted hours"
            }
          ]
        }
      },
      rows: [
        { key: { text: "Timetabled hours per week" }, value: { text: claim.timetabledHoursDuringTerm | default("Not answered") } },
        { key: { text: "Teaches 16-19-year-olds or those with EHCP" }, value: { text: claim.teachesSixteenToNineteen | default("Not answered") } }
      ]
    }) }}


    {################## SUBJECT AREA ###############}

    {# Build a bullet list for courses when present #}
    {% set courseList %}
      {% if claim.teachesLevelThree == 'No' and claim.levelThreeSubjectAreaCourses %}
        <ul class="govuk-list govuk-list--bullet">
          {% for course in claim.levelThreeSubjectAreaCourses %}
            <li>{{ course }}</li>
          {% endfor %}
        </ul>
      {% else %}
        Not answered
      {% endif %}
    {% endset %}

    {{ govukSummaryList({
      card: {
        title: {
          text: "Subject area",
          classes: "govuk-heading-m"
        },
        actions: {
          items: [
            {
              href: "/provider/level-three-confirm/" + claim.id + "?returnUrl=/provider/check/" + claim.id,
              text: "Change",
              visuallyHiddenText: "subject area"
            }
          ]
        }
      },
      rows: [
        {
          key: { text: "Teaches Level 3 courses" },
          value: { text: claim.teachesLevelThree | default("Not answered") }
        },
        {
          key: { text: "Subject area courses" },
          value: { html: courseList }
        } if claim.teachesLevelThree == 'No',
        {
          key: { text: "Spend at least half timetabled teaching time teaching relevant courses" },
          value: { text: claim.levelThreeHalfTimetableTeachingCourses | default("Not answered") }
        } if claim.teachesLevelThree == 'Yes',
        {
          key: { text: "Employed until end of academic year" },
          value: { text: claim.employedUntilEndOfAcademicYear | default("Not answered") }
        }
      ]
    }) }}


    <form method="post" action="/provider/completed/{{ claim.id }}">
      <h2 class="govuk-heading-m">Declaration</h2>

      {{ govukCheckboxes({
        name: "Declaration",
        items: [
          {
            value: "I have read the provider guidance I was sent by email and to the best of my knowledge confirm the information I have provided in this form is correct.",
            text: "I have read the provider guidance I was sent by email and to the best of my knowledge confirm the information I have provided in this form is correct."
          }
        ]
      }) }}

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
