{% extends "layouts/main.html" %}

{% set pageName = 'Check your answers' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  {# <div class="govuk-grid-column-full"> #}
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">{{pageName}}</h1>

        {{ data.user | log }}
        {{ data.claims | log }}



        {% include "_includes/claim/details.njk" %}

        {% include "_includes/claim/review/check-verify-answers.njk" %}

        <form method="post" action="/provider/check/{{ claim.id }}">
          <h2 class="govuk-heading-m">Declaration</h2>
        
          {{ govukCheckboxes({
            name: "Declaration",
            items: [
              {
                value: "To the best of my knowledge, I confirm that the information provided in this form is correct.",
                text: "To the best of my knowledge, I confirm that the information provided in this form is correct."
              }
            ]
          }) }}
          
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Verify and complete claim",
              classes: "govuk-button--primary"
            }) }}
            <a href="/provider" class="govuk-button govuk-button--secondary" role="button">
              Cancel
            </a>
          </div>
        </form>
        
        
  </div>
</div>

{% endblock %}
