{% extends "layouts/main.html" %}

{% set pageName = 'Review a targeted retention incentive payment claim' %}

{% set serviceNavId = "allClaims" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  {# <div class="govuk-grid-column-full"> #}
    <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    {% if claim.status == 'In progress' %}
      <div class="govuk-inset-text">
        Claim asssigned to {{ claim.assignedTo }} on {{ claim.dateSubmitted }}
      </div>
    {% endif %}


    {{ data.user | log }}
    {{ data.claims | log }}

    {% include "_includes/claim/details.njk" %}

    <form method="post" action="/provider/contract-academic-year/{{ claim.id }}">


      <h2 class="govuk-heading-m">Role and experience</h2>

      {{ govukRadios({
        name: "contractAcademicYear",
        value: claim.contractAcademicYear,
        fieldset: {
          legend: {
            text: "Does " + claim.claimantName + " fixed-term contract cover the full 2025 to 2026 academic year?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "This academic year runs from September 2025 to July 2026"
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}


    
      {{ govukRadios({
        name: "completedSection",
        fieldset: {
          legend: {
            text: "Have you completed this section?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No, I want to come back to it later"
          }
        ]
      }) }}
      
  
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" name="action" value="continue">
          Save and continue
        </button>       
      </div>
    </form>

  </div>
</div>

{% endblock %}
