{% extends "layouts/main.html" %}

{% set pageName = 'Do you want to continue verification of this claim?' %}

{% set serviceNavId = "allClaims" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  {# <div class="govuk-grid-column-full"> #}
    <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    {{ govukInsetText({
      html: "This claim was started by " + claim.assignedTo + ". Selecting 'Yes' will assign it to you."
    }) }}

   


    {{ data.user | log }}
    {{ data.claims | log }}

  


    <form method="POST" action="/provider/confirm-verifier/{{ claim.id }}">

      {{ govukRadios({
        name: "contact",
        fieldset: {
          legend: {
            text: "Who will verify this claim?",
            classes: "govuk-fieldset__legend--l govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
      
  
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a href="/provider" class="govuk-link">Cancel</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
