{% extends "layouts/main.html" %}

{% set pageName = 'Review a targeted retention incentive payment claim' %}

{% set serviceNavId = "allClaims" %}



{% block content %}
<div class="govuk-grid-row">
  {# <div class="govuk-grid-column-full"> #}
    <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    {% if claim.status == 'In progress' %}
      <div class="govuk-inset-text">
        Claim asssigned to {{ claim.assignedTo }} on {{ claim.dateSubmitted }}
      </div>
    {% endif %}


    {{ data.user | log }}
    {{ data.claims | log }}

    {% include "_includes/claim/details.njk" %}

    <form method="post" action="/provider/hours-academic-year/{{ claim.id }}">

      
      <h2 class="govuk-heading-m">Role and experience</h2>

      {{ govukRadios({
        name: "hoursAcademicYear",
        value: claim.hoursAcademicYear,
        fieldset: {
          legend: {
            text: "Has " + claim.claimantName + " taught at [FE_Provider] for at least one academic term?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
    
      {{ govukRadios({
        name: "completedSection",
        fieldset: {
          legend: {
            text: "Have you completed this section?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No, I want to come back to it later"
          }
        ]
      }) }}
      
  
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" name="action" value="continue">
          Save and continue
        </button>       
      </div>
    </form>

  </div>
</div>

{% endblock %}
