{% extends "layouts/main.html" %}


{% block content %}

<h1 class="govuk-heading-l">All claims</h1>

{{ data.user | log }}
{{ data.claims | log }}

<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Claim reference</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Claimant name</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Date submitted</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Due date</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Processed by</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for claim in data.claims %}
     
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="/provider/show/{{claim.id}}" class="govuk-link">{{claim.claimReference}}</a></td>
        <td class="govuk-table__cell">{{claim.claimantName}}</td>
        <td class="govuk-table__cell" data-sort-value="{{claim.dateSubmitted}}">
          {{claim.dateSubmitted}}
        </td>
        <td class="govuk-table__cell" data-sort-value="{{claim.dueDate}}">
          {{claim.dueDate}}
        </td>
        <td class="govuk-table__cell">{{claim.processedBy}}</td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag 
            {% if claim.status == 'In progress' %}
              govuk-tag--blue
            {% elif claim.status == 'Not started' %}
              govuk-tag--yellow
            {% else %}
              govuk-tag--green
            {% endif %}
          ">
            {{claim.status}}
          </strong>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
