{% extends "layouts/main.html" %}

{% set pageName = 'Review a targeted retention incentive payment claim' %}

{% set serviceNavId = "allClaims" %}


{% set actionUrl = "/provider/level-three-subject-area/" + claim.id %}

{% if returnUrl %}
  {% set actionUrl = actionUrl + "?returnUrl=" + returnUrl %}
{% endif %}

{# {% if claim.status == 'Not started' %} #}
  {% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}
  {% endblock %}
{# {% endif %} #}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: "There is a problem", 
        errorList: errors
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">{{pageName}}</h1>


    {{ data.user | log }}
    {{ data.claims | log }}

    {% include "_includes/claim/details.njk" %}


    <form method="post" action="{{ actionUrl }}">  

      <h3 class="govuk-heading-m">Subject area</h3>

          {{ govukCheckboxes({
            name: "levelThreeSubjectArea",
            fieldset: {
              legend: {
                text: "Which subject area does " + claim.claimantName + " teach?",
                classes: "govuk-fieldset__legend--s"
              },
              hint: {
                text: "Select all that apply"
              }
            },
            items: [
              {
                value: "building",
                text: "Building and construction"
              },
              {
                value: "chemistry",
                text: "Chemistry"
              },
              {
                value: "computing",
                text: "Computing, including digital and ICT"
              },
              {
                value: "earlyYears",
                text: "Early years"
              },
              {
                value: "engineering",
                text: "Engineering and manufacturing, including transport engineering and electronics"
              },
              {
                value: "maths",
                text: "Maths"
              },
              {
                value: "physics",
                text: "Physics"
              },
              {
                divider: "or"
              },
              {
                value: "none",
                text: "They do not teach any of these subject areas"
              }
            ]
          }) }}


    
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" name="action" value="continue">
            Continue
          </button>  
          <button type="submit" class="govuk-button govuk-button--secondary" name="action" value="save">
            Save and come back later
          </button>      
        </div>
    </form>

  </div>
</div>

{% endblock %}
