{% extends "layouts/main.html" %}

{% set pageName = 'Review a targeted retention incentive payment claim' %}

{% set serviceNavId = "allClaims" %}

{% set actionUrl = "/provider/member-of-staff/" + claim.id %}
{% if returnUrl %}
  {% set actionUrl = actionUrl + "?returnUrl=" + returnUrl %}
{% endif %}


{# {% if claim.status == 'Not started' %} #}
  {% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}
  {% endblock %}
{# {% endif %} #}

{% block content %}
<div class="govuk-grid-row">
  
    <div class="govuk-grid-column-three-quarters">

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem", 
          errorList: errors
        }) }}
      {% endif %}

      {# {{ govukNotificationBanner({
        type: "success",
        html: notificationHtml | safe
      }) if flash.length }} #}

      {% if flash.length %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Done
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Employer check for {{claim.claimantName}} complete
            </h3>
          </div>
        </div>
      {% endif %}
      
    <h1 class="govuk-heading-l">{{pageName}}</h1>


    {{ data.user | log }}
    {{ data.claims | log }}

    {# {% include "_includes/claim/details.njk" %} #}
    {% include "_includes/claim/details-collapsible.njk" %}

      {# <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> #}

      <form method="post" action="{{ actionUrl }}">
        <input type="hidden" name="returnUrl" value="{{ returnUrl }}">
          <h2 class="govuk-heading-m">Role and experience</h2>

          {{ govukRadios({
            name: "teachingResponsibilities",
            value: teachingResponsibilities or undefined,
            fieldset: {
              legend: {
                text: "Is " + claim.claimantName + " a member of staff with teaching responsibilities?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}

        
          {# ////////////////////////////////////////////////#}
    
    
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" name="action" value="continue">
            Continue
          </button>  
          <button type="submit" class="govuk-button govuk-button--secondary" name="action" value="save">
            Save and come back later
          </button>      
        </div>
    </form>

    {{ govukDetails({
      summaryText: "Who counts as a teacher for this payment",
      html:"
        <p class='govuk-body'>
          They must be currently employed with teaching responsibilities. Teaching responsibilities include teaching timetabled guided learning hours and planning, delivering and assessing learning.
        </p>
        <p class='govuk-body'>
          This payment is not for non-teaching assessors, non-teaching leaders or support staff like assistants or technicians.
        </p>
      "
    }) }}

  </div>
</div>

{% endblock %}
