{% extends "layouts/main.html" %}

{% set pageName =  'Claim reference: ' + claim.claimReference %}

{% set serviceNavId = "allClaims" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/provider"
  }) }}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  
    <div class="govuk-grid-column-three-quarters">

       {{ govukNotificationBanner({
          type: "warning",
          html: '<h2 class="govuk-heading-m"> '+flash+' </h2>' | safe
        }) if flash.length }}

      <span class="govuk-caption-xl">{{claim.claimantName}}</span>
      <h1 class="govuk-heading-l">{{ pageName }}
        {% if claim.verified %}
          {{ govukTag({ text: "Verified", classes: "govuk-tag--blue" }) }}
        {% elseif claim.status == "In progress" %}
          {{ govukTag({ text: "In progress", classes: "govuk-tag--yellow" }) }}
        {% elseif claim.status == "Not started" %}
          {{ govukTag({ text: "Not started", classes: "govuk-tag--red" }) }}
        {% endif %}
      </h1>
  
      {{ govukInsetText({
        html: "This claim was started by <strong>" + claim.assignedTo + "</strong>."
      }) }}
  
      {# Role and experience card #}
      {{ govukSummaryList({
        card: {
          title: { text: "Role and experience", classes: "govuk-heading-m" }
        },
        rows: [
        {
          key: { text: "Teaching responsibilities" },
          value: { text: claim.teachingResponsibilities or "Not answered" }
        },
        {
          key: { text: "In first 5 years of FE teaching" },
          value: { text: claim.first5Years or "Not answered" }
        },
        {
          key: { text: "Teaching qualification" },
          value: { text: claim.hasTeachingQualification or "Not answered" }
        },
        {
          key: { text: "Type of contract" },
          value: { text: claim.contractType or "Not answered" }
        },
        {
          key: { text: "Contract covers full academic year" },
          value: { text: claim.contractAcademicYear or "Not answered" }
        } if claim.contractAcademicYear,
        {
          key: { text: "Variable hours in academic year" },
          value: { text: claim.hoursAcademicYear or "Not answered" }
        } if claim.hoursAcademicYear
      ]
      }) }}
  
      {# Performance and discipline card #}
      {{ govukSummaryList({
        card: {
          title: { text: "Performance and discipline", classes: "govuk-heading-m" }
        },
          rows: [
          {
            key: { text: "Subject to performance measures" },
            value: { text: claim.performanceMeasures or "Not answered" }
          },
          {
            key: { text: "Subject to disciplinary action" },
            value: { text: claim.subjectToDisciplinaryAction or "Not answered" }
          }
        ]
      }) }}
  
      {# Contracted hours card #}
      {{ govukSummaryList({
        card: {
          title: { text: "Contracted hours", classes: "govuk-heading-m" }
        },
        rows: [
        {
          key: { text: "Timetabled hours per week" },
          value: { text: claim.contractedHours or "Not answered" }
        },
        {
          key: { text: "Teaches 16-19-year-olds or those with EHCP" },
          value: { text: claim.sixteenToNineteen | default("Not answered") }
        },
        {
          key: { text: "Teaches approved qualifications in engineering" },
          value: { text: claim.fundingAtLevelThreeAndBelow | default("Not answered") }
        }    
      ]
      }) }}
  
      <div class="govuk-button-group">
        <a href="/provider" class="govuk-button govuk-button--secondary">Close</a>
      </div>
  
    </div>
</div>

{% endblock %}
