{% extends "layouts/main.html" %}

{% set pageName = 'Read only claim' %}

{% set serviceNavId = "allClaims" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

    {{ govukNotificationBanner({
      type: "success",
      html: '<h2 class="govuk-heading-m"> '+flash+' </h2>' | safe
    }) if flash.length }}

    <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">{{pageName}}
      {% if claim.verified === true %}
      {{ govukTag({
        text: "Verified",
        classes: "govuk-tag--blue"
      }) }}
      {% elseif claim.verified === false %}
        {{ govukTag({
          text: "Not verified",
          classes: "govuk-tag--grey"
        }) }}
      {% else %}
        {{ govukTag({
          text: claim.status,
          classes: claim.status | statusColour
        }) }}
    {% endif %}
    </h1>

    {{ govukInsetText({
      html: "This claim was started by " + claim.assignedTo
    }) }}

   


    {{ data.user | log }}
    {{ data.claims | log }}

  


    <form method="POST" action="#">

      {{ govukTable({
        caption: "Claim form (would show any PV radios selected so far)",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
          {
            text: "[PV_form_question]"
          },
          {
            text: "[PV_form_answer]"
          }
        ],
        rows: [
          [
            {
              text: "[Q_1]"
            },
            {
              text: "[A_1]"
            }
          ],
          [
            {
              text: "[Q_2]"
            },
            {
              text: "]Q_2]"
            }
          ],
          [
            {
              text: "[Q_3]"
            },
            {
              text: "[Q_3]"
            }
          ]
        ]
      }) }}
      
  
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Close",
          href: "/provider"
        }) }}
      </div>
    </form>

  </div>
</div>

{% endblock %}
