{% extends "layouts/main.html" %}

{% set pageName = 'Review a targeted retention incentive payment claim' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  {# <div class="govuk-grid-column-full"> #}
    <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    {% if claim.status == "Not started" %}
      {{ govukButton({
        text: "Assign claim",
        classes: "govuk-button--primary",
        href: "/provider/" + claim.id + "/assign"
      }) }}
    {% endif %} 

    {% if claim.status == 'In progress' %}
    {# <p class="govuk-body">Claim asssigned by {{ claim.assignedTo }} on {{ claim.assignedDate | govukDate }} {{ claim.assignedDate | govukTime }}</p> #}
    <div class="govuk-inset-text">
      Claim asssigned to {{ claim.assignedTo }} on {{ claim.assignedDate | govukDate }} {{ claim.assignedDate | govukTime }}
    </div>
    {% endif %}


    {{ data.user | log }}
    {{ data.claims | log }}

    {% include "_includes/claim/details.njk" %}

    <form method="post" action="/provider/check/{{ claim.id }}">


    {% include "_includes/claim/review/verify-details-radios.njk" %}
  
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </button>
      </div>
    </form>

  </div>
</div>

{% endblock %}
