{% extends "layouts/main.html" %}

{% set pageName = 'Review a financial incentive payment claim' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  {# <div class="govuk-grid-column-full"> #}
    <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    {{ data.user | log }}
    {{ data.claims | log }}

    {% include "_includes/claim/details.njk" %}

    {% include "_includes/claim/review/are-these-details-incorrect.njk" %}

    {% include "_includes/claim/review/confirm-details.njk" %}

  </div>
</div>

{% endblock %}
