{% extends "layouts/main.html" %}

{% set pageName = 'Review a targeted retention incentive payment claim' %}

{% set serviceNavId = "allClaims" %}


{% set actionUrl = "/provider/timetabled-hours-during-term/" + claim.id %}
{% if returnUrl %}
  {% set actionUrl = actionUrl + "?returnUrl=" + returnUrl %}
{% endif %}


{# {% if claim.status == 'Not started' %} #}
  {% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}
  {% endblock %}
{# {% endif %} #}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: "There is a problem", 
        errorList: errors
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">{{pageName}}</h1>

    {{ data.user | log }}
    {{ data.claims | log }}

    {% include "_includes/claim/details.njk" %}


    <form method="post" action="{{ actionUrl }}">  
      <input type="hidden" name="returnUrl" value="{{ returnUrl }}">
      <h3 class="govuk-heading-m">Contracted hours</h3>

        {{ govukRadios({
          name: "timetabledHoursDuringTerm",
          value: claim.timetabledHoursDuringTerm,
          classes: "govuk-radios",
          fieldset: {
            legend: {
              text: "On average, how many hours per week was " + claim.claimantName + " timetabled to teach during the [autumn/spring/summer] term?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "20 hours or more each week",
              text: "20 hours or more each week"
            },
            {
              value: "12 hours to 20 hours each week",
              text: "12 hours to 20 hours each week"
            },
            {
              value: "2.5 to 12 hours each week",
              text: "2.5 to 12 hours each week"
            },
            {
              value: "Fewer than 2.5 hours each week",
              text: "Fewer than 2.5 hours each week"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" name="action" value="continue">
            Continue
          </button>  
          <button type="submit" class="govuk-button govuk-button--secondary" name="action" value="save">
            Save and come back later
          </button>      
        </div>

    </form>

    {{ govukDetails({
      summaryText: "How to work out timetabled teaching hours",
      html:"
        <p class='govuk-body'>
          'Timetabled teaching hours' means time spent teaching groups of students in lessons or classes.
        </p>
        <p class='govuk-body'>
          If these hours vary during the term (for example, on a variable hours contract), use the average number of hours per week for the current term.
        </p>
      "
    }) }}

  </div>
</div>

{% endblock %}
