{% extends "layouts/main.html" %}

{% set pageName = 'Review a targeted retention incentive payment claim' %}

{% set serviceNavId = "allClaims" %}


{% set actionUrl = "/provider/contracted-hours/" + claim.id %}
{% if returnUrl %}
  {% set actionUrl = actionUrl + "?returnUrl=" + returnUrl %}
{% endif %}

{# {% if claim.status == 'Not started' %} #}
  {% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}
  {% endblock %}
{# {% endif %} #}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: "There is a problem", 
        errorList: errors
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">{{pageName}}</h1>

    {# {% if claim.status == 'In progress' %}
      <div class="govuk-inset-text">
        Claim asssigned to {{ claim.assignedTo }} on {{ claim.dateSubmitted }}
      </div>
    {% endif %} #}


    {{ data.user | log }}
    {{ data.claims | log }}

    {% include "_includes/claim/details.njk" %}

   <form method="post">  

      <h3 class="govuk-heading-m">Type of contract</h3>


        {{ govukRadios({
          name: "variableContractHasTaughtForOneAcademicTerm",
          fieldset: {
            legend: {
              text: "Is " + claim.claimantName + " timetabled to teach at least 2.5 hours per week st [FE-Provider] in the [spring_or_summer] term?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}
        
    
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" name="action" value="continue">
            Continue
          </button>  
          <button type="submit" class="govuk-button govuk-button--secondary" name="action" value="save">
            Save and come back later
          </button>      
        </div>
    </form>

  </div>
</div>

{% endblock %}
