{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/next-subject-page" method="post">

          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which chemistry courses do you teach?
              </h1>
            </legend>

            <br>

            <div id="account-number-hint" class="govuk-hint">
              If you are unsure whether the course(s) you teach is eligible, please email: <a href=''>FE-Levellingup.PremiumPayments@education.gov.uk</a>         
            </div>
  
            <br>



            <div id="countries-hint" class="govuk-hint">
              Select all that apply
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <input name="previousCoursePage" type="text" style="display:none" value="Chemistry">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="chemistry" name="chemistry" type="checkbox" value="a level">
                <label class="govuk-label govuk-checkboxes__label" for="chemistry">
                 A or AS level in chemistry
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="chemistry-2" name="chemistry" type="checkbox" value="gcse">
                <label class="govuk-label govuk-checkboxes__label" for="chemistry-2">
                  GCSE in chemistry
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="chemistry-3" name="chemistry" type="checkbox" value="international">
                <label class="govuk-label govuk-checkboxes__label" for="chemistry-3">
                   International baccalaureate middle years programme or certificate in chemistry
                </label>
              </div>
              <div class="govuk-checkboxes__divider">or</div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="chemistry-4" name="chemistry" type="checkbox" value="none" data-behaviour="exclusive">
                <label class="govuk-label govuk-checkboxes__label" for="chemistry-4">
                  I do not teach any of these courses
                </label>
              </div>
            </div>
          </fieldset>
        </div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
