{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What type of contract do you have with [name of FE provider]?      
      </h1>

      <form class="form" action="/teaching-hours-per-week" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contractOfEmployment" name="contractOfEmployment" type="radio" value="Permanent contract (including full-time and part-time contracts)">
                <label class="govuk-label govuk-radios__label" for="contractOfEmployment-full-time">
                  <strong>Permanent contract</strong>
                  <div id="account-number-hint" class="govuk-hint">
                    This includes full-time and part-time contracts
                  </div>
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contractOfEmployment-2" name="contractOfEmployment" type="radio" value="Fixed-term contract">
                <label class="govuk-label govuk-radios__label" for="contractOfEmployment-2">
                  <strong>Fixed-term contract </strong>
                </label>
                
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contractOfEmployment-3" name="contractOfEmployment" type="radio" value="Variable hours contract (including zero hours contract and hourly paid)">
                <label class="govuk-label govuk-radios__label" for="contractOfEmployment-3">
                  <strong>Variable hours contract</strong>  
                  <div id="account-number-hint" class="govuk-hint">
                    This includes zero hours contracts
                  </div>
                </label>
              </div>
            
              </div>
          </fieldset>
        </div> 

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
