{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        The further education (FE) provider you have entered is not eligible
      </h1>

      <p>
        The reason could be:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the FE provider you have selected is not included in the <a href="#">list of eligible providers [link to list that is published in summer ‘24]</a></li>
        <li>the spelling of the FE provider does not match our records - check the spelling, including any apostrophes, hyphens or full stops used in the school's name</li>
        <li>the FE provider you listed is closed - this could be the case if it has rebranded</li>
      </ul>

      <p>
        Eligible providers include:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>FE colleges</li>
        <li>sixth-form colleges</li>
        <li>designated institutions</li>
        <li>16 to 19 only academies and free schools</li>
      </ul>

      {{ govukButton({
        text: "Change FE provider"
      }) }}



      <p>
        For more information, check the school eligiblity for critera for <a href="/path/of/page">levelling up premium payments for FE teachers</a>.
      </p>

    </div>
  </div>

{% endblock %}
