{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

 <h1 class="govuk-heading-xl">
  Verify a further education incentive payment
 </h1>

<h1 class="govuk-heading-m">
  Provider journey screens
 </h1>

 <ol class="govuk-list govuk-list--number"></ul>
  
    <h1 class="govuk-heading-s">
      Start: emails
     </h1>
     <div class="govuk-!-padding-bottom-1"></div>
     
     <li><a href="/p/mock-inbox.html">Inbox</a> Perm and long term fixed</li>
     <li><a href="/pst/mock-inbox-st.html">Inbox</a> Variable hours and short term fixed</li>
     <li><a href="/p/mock-email.html">Email for provider to check</a> Perm and long term fixed</li>
     <li><a href="/pst/mock-email-st.html">Email for provider to check</a> Variable hours and short term fixed</li>


   <div class="govuk-!-padding-bottom-5"></div>

     <h1 class="govuk-heading-s">
      DfE Sign in
     </h1>


     <li><a href="/p/dfe-start.html">DfE Start</a> Perm and long term fixed</li>
     <li><a href="/pst/dfe-start-st.html">DfE Start</a> Variable hours and short term fixed</li>
     <li><a href="/p/dfe-sign-in.html">DfE Sign in</a> Perm and long term fixed</li>
     <li><a href="/pst/dfe-sign-in-st.html">DfE Sign in</a> Variable hours and short term fixed</li>
     
 
   <div class="govuk-!-padding-bottom-5"></div>

    <h1 class="govuk-heading-s">
      Verifying a claim on webform - editable 
     </h1>

     <li><a href="/p/verify-claim.html">Review an additional payment claim</a> Perm and long term fixed</li>
     <li><a href="/p/verify-claim-multi-course.html">Review an additional payment claim</a> Multiple courses Perm and long term fixed</li>
     <li><a href="/pst/verify-claim-st">Review an additional payment claim</a> Variable hours and short term fixed</li>


   <div class="govuk-!-padding-bottom-5"></div>

   <h1 class="govuk-heading-s">
    Verification complete
   </h1>

   <li><a href="/p/provider-confirmation">Verification complete</a> Perm and long term fixed</li>
   <li><a href="/pst/provider-confirmation-st">Verification complete</a> Variable hours and short term fixed</li>


   <div class="govuk-!-padding-bottom-5"></div>

   <h1 class="govuk-heading-s">
    End: automated emails
   </h1>

   <li><a href="/p/automated-email.html">Automated email to provider </a> Perm and long term fixed</li>
   <li><a href="/pst/automated-email-st.html">Automated email to provider</a> Variable hours and short term fixed</li>

   <div class="govuk-!-padding-bottom-5"></div>

   <h1 class="govuk-heading-s">
    Verifying a claim on webform - view only 
   </h1>

   <li><a href="/p/verified-claim">Reviewed additional payment claim</a> Perm and long term fixed</li>
   <li><a href="/pst/verified-claim-st">Reviewed additional payment claim</a> Variable hours and short term fixed</li>


   <div class="govuk-!-padding-bottom-5"></div>

 
  </div>
</div>

{% endblock %}
