{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

{% include "govuk-prototype-kit/includes/homepage-top.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <strong class="govuk-tag govuk-tag--pink">
        Beta
      </strong>
      

      <br>
      <br>
      

      <h1 class="govuk-heading-xl">
        Targeted retention incentive payments for FE teachers  
      </h1>

      <div id="account-number-hint" class="govuk-hint">
        Last updated 19 August       
      </div>

     

      <p>On this page you can find the entire Claimant journey and the entire FE provider journey, screen by screen.</p>

      <h1 class="govuk-heading-m">
        Useful links
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/guidance/levelling-up-premium-payments-for-fe-teachers">FE Guidance </a></li>
        <li><a href="https://lucid.app/lucidspark/de936108-034b-40fc-b13e-d8b593c76c2c/edit?viewport_loc=107756%2C5114%2C21735%2C18182%2C0_0&invitationId=inv_0766380a-c1df-4a14-b653-7587e4d72556">Claim FE beta lucid board</a></li>
        <li><a href="https://lucid.app/lucidspark/3dcb1044-944a-43c7-83a3-b5151a8a6c90/edit?invitationId=inv_e98c642d-bc65-4149-aa23-54cc2499fa96&page=0_0#">Claim FE service map lucid board</a></li>
      </ul>



      

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Claimant prototype
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">

              <h1 class="govuk-heading-l">
                Claim retention payments for further education teachers v7
              </h1>

              <h1 class="govuk-heading-s">
                What are we testing?
              </h1>

              <p>
                We are testing if an FE claimant user understands the eligibility questions.
              </p>

              <h1 class="govuk-heading-s">
                What do these journeys cover?
              </h1>

              <p>
                These journeys cover eligibility criteria, teaching hours, subjects and courses, and teaching qualifications.
              </p>

              {% from "govuk/components/button/macro.njk" import govukButton %}

              {{ govukButton({
                text: "View prototype",
                href: "start.html",
                isStartButton: true
              }) }}

              

             <ol class="govuk-list govuk-list--number"></ul>
              
                <h1 class="govuk-heading-s">
                  Who can apply
                 </h1>
                 <div class="govuk-!-padding-bottom-1"></div>
                 
              
              <li><a href="start">Start now page</a></li>
              <div class="govuk-!-padding-bottom-5"></div>



              <h1 class="govuk-heading-s">
                New or existing application
               </h1>
               <div class="govuk-!-padding-bottom-1"></div>
               
            
              <li><a href="new-existing-application">Start a new eligibility check</a></li>
          
            
              <div class="govuk-!-padding-bottom-5"></div>

                <h1 class="govuk-heading-s">
                Job role
               </h1>
          
               <li><a href="teaching-responsibilities.html">Teaching responsibilities</a></li>

               <div class="govuk-!-padding-bottom-5"></div>

            
                <h1 class="govuk-heading-s">
                  Eligible provider
                 </h1>
            
                 <li><a href="fe-provider.html">Further education provider</a></li>
                 <li><a href="where-you-are-employed.html">Where are you employed</a></li>
                 <li><a href="where-you-are-employed.html">Select where you are employed</a></li>
                 
                 <div class="govuk-!-padding-bottom-5"></div>

            
                 <h1 class="govuk-heading-s">
                   Contract of employement
                  </h1>
 
                 <li><a href="contract-of-employment.html">Contract of employment</a></li>
                 <li><a href="fixed-term-contract.html">Fixed term contract</a> [BRANCH: fixed selected]</li>
                 <li><a href="one-full-term.html">One full term</a> [BRANCH: variable hours selected & 'no' selected on fixed term contract page]</li>
             
               <div class="govuk-!-padding-bottom-5"></div>


            
               <h1 class="govuk-heading-s">
                Teaching hours
               </h1>
            
            
                <li><a href="teaching-hours-per-week">Teaching hours per week</a></li>
                <li><a href="teaching-hours-per-week-fixed">Teaching hours per week fixed</a></li>
                <li><a href="teaching-hours-per-week-variable">Teaching hours per week variable</a></li>
                <li><a href="timetabled-to-teach">Timetabled to teach variable</a></li>
              

                <div class="govuk-!-padding-bottom-5"></div>

                <h1 class="govuk-heading-s">
                  Teaching in FE
                 </h1>
            
                 <li><a href="academic-year-in-further-education.html">Academic year in further education</a></li>
                 <li><a href="academic-year-in-fe-variable.html">Academic year in further education variable</a></li>

            
               <div class="govuk-!-padding-bottom-5"></div>
            
               <h1 class="govuk-heading-s">
                Subjects
               </h1>
            
               <li><a href="subject-areas">Subject areas</a></li>
               <li><a href="subject-areas-variable.html">Subject areas variable</a></li>
               <li><a href="building-course">Building course</a></li>
               <li><a href="chemistry-course.html">Chemistry course</a></li>
               <li><a href="computing-course.html">Computing course</a></li>
               <li><a href="early-years-course.html">Early years course</a></li>
               <li><a href="engineering-course.html">Engineering course</a></li>
               <li><a href="maths-course.html">Maths course</a></li>
               <li><a href="physics-course.html">Physics course</a></li>
            
               <div class="govuk-!-padding-bottom-5"></div>
            
               <h1 class="govuk-heading-s">
                Half of teaching hours
               </h1>
            
               <li> <a href="teaching-courses.html"> Teaching courses </a></li>
               <li><a href="half-teaching-hours">Half teaching hours 16-19 year olds </a></li>

            
               
            
               <div class="govuk-!-padding-bottom-5"></div>
            
               <h1 class="govuk-heading-s">
                Teaching qualification
               </h1>
            
               <li> <a href="qualification.html">Teaching qualification</a></li>
               
            
               <div class="govuk-!-padding-bottom-5"></div>
            
               <h1 class="govuk-heading-s">
                Performance and disiplinary
               </h1>
            
               <li><a href="performance.html">Performance and disiplinary</a></li>
            
            
             
               <div class="govuk-!-padding-bottom-5"></div>
            
               <h1 class="govuk-heading-s">
                Check answers and submit claim
               </h1>
            
               <li><a href="check-answers.html">Check answers</a></li>
               <li><a href="you-are-eligible.html">Eligible for an additional payment</a></li>

               <div class="govuk-!-padding-bottom-5"></div>



               <h1 class="govuk-heading-s">
                Not eligible screens
               </h1>
                <li><a href="fe-provider-not-eligible">FE provider not eligible</a></li>
                <li><a href="you-are-not-eligible.html">You are not eligible default</a></li>
                <li><a href="you-are-not-eligible-yet">You are not eligible YET</a></li>
                <li><a href="not-eligible-hours-spent-teaching.html">You are not eligible hours spent teaching</a></li>
                <li><a href="not-eligible-term.html">You are not eligible current term</a></li>
                <li><a href="not-eligible-ongoing.html">You are not eligible ongoing commitment </a></li>
                <li><a href="you-are-not-eligible-five-years">You are not eligible five years</a></li>
                <li><a href="you-are-not-eligible-subjects.html">You are not eligible subjects</a></li>
                <li><a href="you-are-not-eligible-courses.html">You are not eligible courses</a></li>
                <li><a href="not-eligible-teach-half-hours-courses.html">You are not eligible teach half hours courses</a></li>
                <li><a href="not-eligible-16-19.html">You are not eligible 16-to-19 year olds</a></li>
                <li><a href="not-eligible-qualification.html">You are not eligible qualification</a></li>
                <li><a href="not-eligible-PA-DA.html">You are not eligible PA and DA</a></li>
               </ol>

          </div>
        </div>


        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Provider prototype
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content">


            <h1 class="govuk-heading-l"> Verify retention payments for further education teachers v4</h1>

            <h1 class="govuk-heading-s">
              What are we testing?
            </h1>

            <p>
              How well a provider understands their role in verifying a claim.
            </p>

            <h1 class="govuk-heading-s">
              What do these journeys cover?
            </h1>

            <p>
              The journey covers how a provider receives and opens an email, signs in to DfE, starts to verify a claim, and what happens when they click on a verified claim, leading them to a page to contact the claim team.
            </p>

            {% from "govuk/components/button/macro.njk" import govukButton %}

            {{ govukButton({
              text: "View prototype perm",
              href: "p/mock-inbox.html",
              isStartButton: true
            }) }}

            {{ govukButton({
              text: "View prototype var",
              href: "pst/mock-inbox-st.html",
              isStartButton: true
            }) }}
            
             <ol class="govuk-list govuk-list--number"></ul>
              
                <h1 class="govuk-heading-s">
                  Start: emails
                 </h1>
                 <div class="govuk-!-padding-bottom-1"></div>
                 
                 <li><a href="/p/mock-inbox.html">Inbox</a> Perm and long term fixed</li>
                 <li><a href="/pst/mock-inbox-st.html">Inbox</a> Variable hours and short term fixed</li>
                 <li><a href="/p/mock-email.html">Email for provider to check</a> Perm and long term fixed</li>
                 <li><a href="/pst/mock-email-st.html">Email for provider to check</a> Variable hours and short term fixed</li>
            
            
               <div class="govuk-!-padding-bottom-5"></div>
            
                 <h1 class="govuk-heading-s">
                  DfE Sign in
                 </h1>
            
            
                 <li><a href="/p/dfe-start.html">DfE Start</a> Perm and long term fixed</li>
                 <li><a href="/pst/dfe-start-st.html">DfE Start</a> Variable hours and short term fixed</li>
                 <li><a href="/p/dfe-sign-in.html">DfE Sign in</a> Perm and long term fixed</li>
                 <li><a href="/pst/dfe-sign-in-st.html">DfE Sign in</a> Variable hours and short term fixed</li>
                 
             
               <div class="govuk-!-padding-bottom-5"></div>
            
                <h1 class="govuk-heading-s">
                  Verifying a claim on webform - editable 
                 </h1>
            
                 <li><a href="/p/verify-claim.html">Review an additional payment claim</a> Perm and long term fixed</li>
                 <li><a href="/p/verify-claim-multi-course.html">Review an additional payment claim</a> Multiple courses Perm and long term fixed</li>
                 <li><a href="/pst/verify-claim-st">Review an additional payment claim</a> Variable hours and short term fixed</li>
                 <li><a href="/pst/verify-claim-multi-course-st.html">Review an additional payment claim</a> Multiple courses Variable hours and short term fixed</li>
            
               <div class="govuk-!-padding-bottom-5"></div>
            
               <h1 class="govuk-heading-s">
                Verification complete
               </h1>
            
               <li><a href="/p/provider-confirmation">Verification complete</a> Perm and long term fixed</li>
               <li><a href="/pst/provider-confirmation-st">Verification complete</a> Variable hours and short term fixed</li>
            
            
               <div class="govuk-!-padding-bottom-5"></div>
            
               <h1 class="govuk-heading-s">
                End: automated emails
               </h1>
            
               <li><a href="/p/automated-email.html">Automated email to provider </a> Perm and long term fixed</li>
               <li><a href="/pst/automated-email-st.html">Automated email to provider</a> Variable hours and short term fixed</li>
            
               <div class="govuk-!-padding-bottom-5"></div>
            
               <h1 class="govuk-heading-s">
                Verifying a claim on webform - view only 
               </h1>
            
               <li><a href="/p/verified-claim">Reviewed additional payment claim</a> Perm and long term fixed</li>
               <li><a href="/pst/verified-claim-st">Reviewed additional payment claim</a> Variable hours and short term fixed</li>
            
            
               <div class="govuk-!-padding-bottom-5"></div>

               
            
          </div>
        </div>


        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Provider prototype: DSI paths
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content">

            <h1 class="govuk-heading-m">
              DSI paths
             </h1>

             <h1 class="govuk-heading-s">
              Provider Verification Journey and Support Information 621
             </h1>

             <ol class="govuk-list govuk-list--number"></ul> 

          
             <li><a href="p/621-dfe-start.html">DfE start</a></li>
             <li><a href="p/621-dfe-sign-in.html">DfE sign in</a></li>
             <li><a href="p/621-my-services.html">My services in DSI</a></li>
             <li><a href="p/621-notif-email-needed.html">Verification email needed</a></li>

             <div class="govuk-!-padding-bottom-5"></div>


             <h1 class="govuk-heading-s">
              Access Denied: Contact Your HR for Claim Verifier Access 622
             </h1>
          
             <li><a href="p/622-inbox.html">Mock inbox </a> </li>
             <li><a href="p/622-email.html">Mock email</a></li>
             <li><a href="p/622-dfe-start.html">DfE start</a></li>
             <li><a href="p/622-dfe-sign-in.html">DfE sign in</a></li>
             <li><a href="p/622-no-grant-access.html">Not granted access</a></li>

             <div class="govuk-!-padding-bottom-5"></div>

             <h1 class="govuk-heading-s">
              Error: Return to Email and Click Verification Link to Restart Process 623
             </h1>
          
             <li><a href="p/623-inbox.html">Mock inbox </a> </li>
             <li><a href="p/623-email.html">Mock email</a></li>
             <li><a href="p/623-dfe-start.html">DfE start</a></li>
             <li><a href="p/623-dfe-sign-in.html">DfE sign in</a></li>
             <li><a href="p/623-error-in-service.html">Error in service</a> </li>

             <div class="govuk-!-padding-bottom-5"></div>

             <h1 class="govuk-heading-s">
              Error: Provider Mismatch After Verification Link Clicked 624
             </h1>
          
             <li><a href="p/624-inbox.html">Mock inbox </a> </li>
             <li><a href="p/624-email.html">Mock email</a></li>
             <li><a href="p/624-dfe-start.html">DfE start</a></li>
             <li><a href="p/624-dfe-sign-in.html">DfE sign in</a></li>
             <li><a href="p/624-org-mismatch.html">Organisation mismatch, unable to link to verification request</a></li>


             <div class="govuk-!-padding-bottom-5"></div>

             <div class="govuk-!-padding-bottom-5"></div>

             <h1 class="govuk-heading-s">
              Error: Organization Not Listed in FE Provider Group or Ops Admin Access 625
             </h1>
          
             <li><a href="p/625-inbox.html">Mock inbox </a> </li>
             <li><a href="p/625-email.html">Mock email</a></li>
             <li><a href="p/625-dfe-start.html">DfE start</a></li>
             <li><a href="p/625-dfe-sign-in.html">DfE sign in</a></li>
             <li><a href="p/625-no-access-rights.html">Verification email needed</a></li>

             <div class="govuk-!-padding-bottom-5"></div>

             <h1 class="govuk-heading-s">
              Error: Ops or Claim Team Members Cannot Access Verification Request 626
             </h1> 
            
             <li><a href="p/626-inbox.html">Mock inbox</a> </li>
             <li><a href="p/626-email.html">Mock email</a></li>
             <li><a href="p/626-dfe-start.html">DfE start</a></li>
             <li><a href="p/626-dfe-sign-in.html">DfE sign in</a></li>
             <li><a href="p/626-dfe-access-request.html">User does not have access rights</a></li>

             <div class="govuk-!-padding-bottom-5"></div>

          
          </div>
        </div>

      </div>

   

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Design artefacts
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
          
            <li>
              <li>
                <a href="https://www.figma.com/design/jUrXRdh2tXMiqsxCRalV9v/Claims-FE-Expansion-Alpha?node-id=353-1310&t=HCMIp0fE3q0Ug4tf-1">
                  Claimant figma doc beta
                </a>
              </li>
              <li>
                <a href="https://www.figma.com/design/jUrXRdh2tXMiqsxCRalV9v/Claims-FE-Expansion-Alpha?node-id=2169-33753&t=HCMIp0fE3q0Ug4tf-1">
                  Provider figma doc beta
                </a>
              </li>
              <li>
                <a href="https://www.figma.com/design/RnIQUopSMghHciwI7jyFLu/Claims-FE-Expansion-Alpha?node-id=0-1&t=W9YN7hrexePINabb-1">
                 Figma doc Alpha
                </a>
              </li>
              <li>
               <li>
                <a href="https://dfedigital.atlassian.net/wiki/x/IwAJBAE">
                 Design documentation
                 </a>
                </li>
              <li>
                <li>
                  <a href="https://github.com/DFE-Digital/claim-levelling-up-premium-further-education-prototype">
                    Git repository
                  </a>
                </li>
              
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
