{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which maths courses do you teach?
              </h1>
            </legend>
            <div id="countries-hint" class="govuk-hint">
              Select all that apply
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="maths" name="maths" type="checkbox" value="esfa">
                <label class="govuk-label govuk-checkboxes__label" for="maths">
                  ESFA-funded qualifications at level 3 and below in the <a href="https://www.qualifications.education.gov.uk/Search?Status=Approved&Level=0,1,2,3,4&Sub=28&PageSize=10&Sort=Status">mathematics and statistics</a> sector subject area
                </label>
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="maths-2" name="engineering" type="checkbox" value="gcse">
                <label class="govuk-label govuk-checkboxes__label" for="maths-2">
                  Maths GCSE, functional skills qualifications and <a href="https://submit-learner-data.service.gov.uk/find-a-learning-aim/LearningAimSearchResult?TeachingYear=2324&HasFilters=False&EFAFundingConditions=EFACONFUNDMATHS">other maths qualification</a> approved for teaching to 16 to 19-year-olds who meet the condition of funding
                </label>
              </div>
              
              <div class="govuk-checkboxes__divider">or</div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="chemistry-4" name="chemistry" type="checkbox" value="none" data-behaviour="exclusive">
                <label class="govuk-label govuk-checkboxes__label" for="chemistry-4">
                  I do not teach any of these courses
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
