{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--had to add CSS code into app / sass / application.scss for the blue panel-->
      <div class="govuk-panel govuk-panel--informational">


        <h2 class="govuk-heading-m">
          Are you sure you want to start a new eligibility check?        
        </h2>

        <p>
          You have an eligibility check in progress.
        </p>

        <p>
          ou will lose your progress if you start a new eligibility check before you send it.
        </p>



        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
   
        <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Yes, start a new check and lose progress on my first check
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          No, finish the check I have in progress
        </label>
      </div>

      <br>
      <br>

      <button type="submit" class="govuk-button govuk-button--inverse" data-module="govuk-button">
        Submit
      </button>
    
      </div>
      </div>
      </fieldset>
      </div>

      </div>

      <div class="govuk-!-padding-bottom-5"></div>
     

    </div>
  </div>

{% endblock %}
