{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--had to add CSS code into app / sass / application.scss for the blue panel
      <div class="govuk-panel govuk-panel--informational">

        <h2 class="govuk-panel--interruption-m">
          Are you sure you want to start a new eligibility check?        
        </h2>


        <h6 class="govuk-panel--interruption-xs">
          You have an eligibility check in progress.   
        </h6>

        <h6 class="govuk-panel--interruption-xs">
          You will lose your progress if you start a new eligibility check before you send it.  
        </h6>

        <div class="govuk-panel--interruption-form-group">
        <fieldset class="govuk-fieldset">
   
        <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Yes, start a new check and lose progress on my first check
        </label>
        </div>
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          No, finish the check I have in progress
        </label>
        </div>

        <br>
        <br>

        <button type="submit" class="govuk-button govuk-button--inverse" data-module="govuk-button">
          Submit
        </button>
    
        </div>

      <div class="govuk-!-padding-bottom-5"></div>

      -->

      <h1 class="govuk-heading-l">
        You have already started an eligibility check    
      </h1>

      <p>
        You can only have one eligibility check in progress at any time. If you want to start another check, we will delete the data on the check you have already started.
      </p>

      <h1 class="govuk-heading-s">
        Choose what you want to do    
      </h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="newexistingapplication" name="wnewexistingapplicationek" type="radio" value="Continue with the eligibility check that you have already started">
              <label class="govuk-label govuk-radios__label" for="week-more">
                Continue with the eligibility check that you have already started
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="newexistingapplication-2" name="newexistingapplication" type="radio" value="Start a new eligibility check">
              <label class="govuk-label govuk-radios__label" for="newexistingapplication-2">
                Start a new eligibility check
              </label>
            </div>
        </fieldset>
      </div>


      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      


    

    </div>
  </div>

{% endblock %}
