{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Have you worked at [name of FE provider] for at least one full term before applying?
      </h1>

      <form class="form" action="/academic-year-in-further-education" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="term" name="term" type="radio" value="Yes, I have worked one full term before applying">
                <label class="govuk-label govuk-radios__label" for="term-yes">
                  Yes, I have worked one full term before applying
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="term-2" name="term" type="radio" value="No, I have not worked one full term before applying">
                <label class="govuk-label govuk-radios__label" for="term-2">
                  No, I have not worked one full term before applying
                </label>
              </div>
          </fieldset>
        </div> 

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
