{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Tell us if you are currently under any performance measures or disciplinary action
      </h1>

      <form class="form" action="/check-answers" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Have any performance measures been started against you?
              </h1>
            </legend>
            <div id="performance-hint" class="govuk-hint">
              This will be as a result of your underperformance as a teacher over a period of time. It could put your employment at the further education (FE) provider at risk and is something we may check with them as it will affect your eligibility.
            </div>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="performance" name="performance" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="performance">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="performance-2" name="performance" type="radio" value="o">
                <label class="govuk-label govuk-radios__label" for="performance-2">
                  No
                </label>
              </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Are you currently subject to disciplinary action?
              </h1>
            </legend>
            <div id="performance-hint" class="govuk-hint">
              This is more serious than performance measures and could be because of misconduct. It is something we may check with your FE provider as it will affect your eligibility.
            </div>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="performance-3" name="performance" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="performance-3">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="performance-4" name="performance" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="performance-4">
                  No
                </label>
              </div>
          </fieldset>
        </div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
