{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Do you have a teaching qualification?
      </h1>

      <form class="form" action="/performance" method="post">

        <p>Eligible teaching qualifications include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Diploma in Education and Training</li>
          <li>Certificate in Education</li>
          <li>Professional Graduate Certificate in Education (PGCE)</li>
          <li>Postgraduate Certificate in Education </li>

        </ul>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual" name="qual" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="qual-fulltime">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual-2" name="qual" type="radio" value="Not yet, I am studying for one ">
                <label class="govuk-label govuk-radios__label" for="qual-2">
                  Not yet, I am studying for one 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual-3" name="qual" type="radio" value="No, but I plan to start working towards one in the next 12 months">
                <label class="govuk-label govuk-radios__label" for="qual-3">
                  No, but I plan to start working towards one in the next 12 months
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qual-4" name="qual" type="radio" value="No, and I do not plan to start working towards one in the next 12 months ">
                <label class="govuk-label govuk-radios__label" for="qual-4">
                  No, and I do not plan to start working towards one in the next 12 months 
                </label>
              </div>
          </fieldset>
        </div> 

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
