{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Do you have a teaching qualification?
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qualification" name="qualification" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="qualification-full-time">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qualification-2" name="qualification" type="radio" value="not yet">
                <label class="govuk-label govuk-radios__label" for="qualification-2">
                  Not yet, I am studying for one 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qualification-3" name="qualification" type="radio" value="no but i intend">
                <label class="govuk-label govuk-radios__label" for="qualification-3">
                  No, but I intend to start working towards one in the next 12 months
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="qualification-4" name="qualification" type="radio" value="no and i do not intend">
                <label class="govuk-label govuk-radios__label" for="qualification-4">
                  No, and I do not intend to start working towards one in the next 12 months 
                </label>
              </div>
          </fieldset>
        </div> 

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
