{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Education, training, skills",
        href: "#"
      },
      {
        text: "Further and higher education, skills and vocational training"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Find out if you are eligible for a targeted retention incentive payment for FE teachers for 2025 to 2026
      </h1>
      <p>Use this service to check if you're eligible for the additional payments we give to some further education (FE) teachers to teach certain subjects in areas that have a high need for teachers.</p>

      <p>If you meet the eligibility criteria, you can then apply for the money.</p>
 
      {{ govukButton({
        text: "Start eligibility check",
        href: "teaching-responsibilities",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You'll be asked to enter details about your:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>contract or written statement of employment</li>
        <li>teaching timetable</li>
      </ul>

      <p>The details you enter will be checked and verified by your employer.</p>

  </div>
</div>

{% endblock %}
