{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        The amount you are entitled to claim depends on the number of hours you teach
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <p>This refers to the direct contact time spent teaching students in lessons.</p>

        <p>If you teach:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>more than 12 hours per week, you are eligible for between £4,000 and £6,000</li>
          <li>between 2.5 hours and 12 hours per week, you are eligible for between £2,000 and £3,000</li>
          <li>less than 2.5 hours per week, you will not be eligible for a levelling up premium payment</li>
        </ul>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Over the current and preceding term, how many hours have you spent teaching per week?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="weekV" name="weekV" type="radio" value="More than 12 hours per week">
                <label class="govuk-label govuk-radios__label" for="weekV-more">
                  More than 12 hours per week
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="weekV-2" name="weekV" type="radio" value="Between 2.5 and 12 hours per week">
                <label class="govuk-label govuk-radios__label" for="weekV-between">
                  Between 2.5 and 12 hours per week
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="weekV-3" name="weekV" type="radio" value="Less than 2.5 hours per week">
                <label class="govuk-label govuk-radios__label" for="weekV-less">
                  Less than 2.5 hours per week
                </label>
              </div>
          </fieldset>
        </div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
