{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/fe-provider" method="post">

       <h1 class="govuk-heading-l">
        To apply for a targeted retention incentive payment, you must be employed as a member of staff with teaching responsibilities
       </h1>

        <p>Your job title could include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li> advanced practitioner</li>
          <li>practitioner</li>
          <li>instructor</li>
          <li>lecturer</li>
          <li> teacher</li>
          <li>trainer</li>
          <li>tutor</li>
        </ul>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Are you a member of staff with teaching responsibilities?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="memberOfstaff" name="memberOfstaff" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="memberOfstaff">
                  Yes
                </label>
              </div>

              <script>
                function handleRadioClick(value) {
                  if (value === "yes") {
                    // Redirect to the 'fe-provider' page
                    window.location.href = 'fe-provider';
                  }
                }
              </script>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="memberOfstaff-2" name="memberOfstaff" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="memberOfstaff-2">
                  No
                </label>
              </div>
          </fieldset>
        </div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
