{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You must spend at least half of your teaching hours teaching an eligible FE course
      </h1>

      <form class="form" action="/qualification" method="post">
    
        <ul class="govuk-list govuk-list--bullet">
          <li>course selection 1</li>
          <li>course selection 2</li>
          <li>course selection 3</li>
        </ul>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Do you spend at least half of your teaching hours teaching these eligible courses?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="courses" name="courses" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="courses">
                  Yes
                </label>
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="courses-2" name="courses" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="courses">
                    No
                  </label>
                </div>

          </fieldset>
        </div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
