{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Are you timetabled to teach at least 2.5 hours per week at [name of FE provider] next term?      </h1>

      <form class="form" action="/academic-year-in-fe-variable" method="post">

        <div id="account-number-hint" class="govuk-hint">
          If you are unsure, you should speak to HR or apply when you know your arrangements for next term.        
        </div>


        <div class="govuk-!-padding-bottom-5"></div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="timetabledToTeach" name="timetabledToTeach" type="radio" value="Yes, I am timetabled to teach at least 2.5 hours at [FE provider] next term
                ">
                <label class="govuk-label govuk-radios__label" for="timetabledToTeach">
                  Yes, I am timetabled to teach at least 2.5 hours at [FE provider] next term
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="timetabledToTeach-2" name="timetabledToTeach" type="radio" value="No, I’m not timetabled to teach at least 2.5 hours at [FE provider] next term">
                <label class="govuk-label govuk-radios__label" for="timetabledToTeach-2">
                  No, I’m not timetabled to teach at least 2.5 hours at [FE provider] next term
                </label>
              </div>
              
          </fieldset>
        </div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
